.btn {
        padding: 10px 40px;
        background-color: rgba(10, 39, 97, 0.83); 
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
     }
.btnx {
        padding: 7px 35px;
        border: 2px solid rgba(10, 39, 97, 0.83);
        background-color: rgba(10, 39, 97, 0.83); 
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
      }
.btn-outline{
        padding: 7px 35px;
        background-color:NONE; 
        border: 2px solid rgba(10, 39, 97, 0.83);
        color: rgba(10, 39, 97, 0.83);
        font-weight: bold;
        font-size: 18px;
      }

.btn-outline1{
        padding: 7px 20px;
        background-color:NONE; 
        border: 2px solid #aaa;
        color: rgba(10, 39, 97, 0.83);
        font-weight: bold;
        font-size: 16px;
      }

h1{
    Font-family: Inter;
    Font-style: Medium;
    Font-size: 40px;
    Line-height: 48px;
    Line-height: 100%;
  }   

* {
    box-sizing: border-box;
  }  
.leftcolumn {   
                float: left;
                width: 75%;
            }
.rightcolumn {
                float: left;
                width: 25%;
                background-color: #f1f1f1;
                padding-left: 20px;
             }
.fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
         }
.card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
      }
.cardG {
  background-color: grey;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
            content: "";
            display: table;
            clear: both;
           }
.footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }
input[type=text], select,textarea,datalist{
                                     
                                     padding: 8px ;
                                     border: 1px solid #ccc;
                                     border-radius: 4px;
                                    
                                    }
input[type=date], select,textarea{
                                    
                                    padding: 8px ;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    
                                    }
label {
        padding: 6px 6px 6px 0;
        display: inline-block;
      }

input[type=submit] {
                        background-color: #2E4778;
                        color: white;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        float: center;
                   }
input[type=submit]:hover {
            background-color: #2E4778;
          }
.col-25 {
            float: left;
            width: 25%;
        }
.col-65 {
          float: left;
          width: 65%;
        }
.col-50 {
          float: left;
          width: 50%;
        }
.col-75 {
            float: left;
            width: 75%;
        }
.col-80 {
          float: left;
          width: 80%;
        }
@media screen and (max-width: 800px) 
        {
            .leftcolumn, .rightcolumn 
            {   
              width: 100%;
              padding: 0;
            }
        }
@media screen and (max-width: 400px) 
        {
            .topnav a
            {
              float: none;
              width: 100%;
            }
        }
@media screen and (max-width: 600px) 
        {
            .col-25, .col-75, input[type=submit]
            {
              width: 100%;
              margin-top: 0;
            }
        } 
#customers 
        {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
#customers td, #customers th 
                    {
                        border: 1px solid #ddd;
                        padding: 8px;
                    }
#customers tr:nth-child(even){background-color: #f2f2f2;}
        
#customers tr:hover {background-color: #ddd;}
        
#customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                 text-align: left;
                 background-color: #2E4778;
                color: white;
             }
             
.autocomplete-items {
                position: absolute;
                border: 1px solid #d4d4d4;
                border-bottom: none;
                border-top: none;
                z-index: 99;
                top: 100%;
                left: 0;
                right: 0;
              }
.autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff; 
                border-bottom: 1px solid #d4d4d4; 
              }
.autocomplete-items div:hover {
                background-color: #e9e9e9; 
              }
.autocomplete-active {
                background-color: DodgerBlue !important; 
                color: #ffffff; 
              }
.autocomplete {
              position: relative;
              display: inline-block;
            }
select {
            border: 2px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        } 
      
input {
            border: 1px solid transparent;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
      }
.bootstrap-timepicker-meridian, .meridian-column
      {
          display: none;
      }
.box{
        width: 120px;
        height: 30px;
        border-radius: 500px;
        border: 2px solid black;
        margin: 0;
        padding: 2;
    }
.hidden {
      display: none;
    }  
