<doctype html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      {% extends 'layout.html' %}
      {% block body %}
       <br>
       <br>
       <br>
        <center>
       <p> <a class="btn btn-primary btn-lg" href="/addNewProject" role="button">เพิ่มโครงการใหม่</a>
        <a class="btn btn-primary btn-lg" href="addeventc" role="button">addeventc</a>
        <a class="btn btn-primary btn-lg" href="addeventd" role="button"> addeventd</a>
        <a class="btn btn-primary btn-lg" href="addevente" role="button"> addevente</a></p>
        <p><a class="btn btn-primary btn-lg" href="event" role="button"> กรรมการ</a>
        <a class="btn btn-primary btn-lg" href="draft" role="button"> draft</a>
        <a class="btn btn-primary btn-lg" href="addexamine" role="button"> ex</a>
    </p>
        </center>
        
      {% endblock %}