<doctype html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% extends 'layout.html' %}
    {% block body %}
  
    <div class="container mt-3">
      <div id="child1">
        <a>ค้นหาโครงการ</a>
        <form action="/">
          <input type="text"  placeholder="Search.." name="search">
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
        <div class="jumbotron">
          <div class="container mt-3">
            <h2>โครงการ</h2>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>เลขสารบัญ</th>
                    <th>ชื่อโครงการ</th>
                    <th>ประเภทโครงการ</th>
                    <th>สำนักงาน</th>
                    <th>กอง </th>      
                    <th>รายละเอียด</th>
                    <th>จำนวนงาน</th>
                    <th>วงเงิน</th>
                    <th>โดยใช้งบประมาณ</th>
                    <th>งบประมาณประจำปี</th>
                  </tr>
                </thead>
                {% for row in row %}
                <tbody>
                  <tr>
                    <td>{{ row[0] }}</td>
                    <td >{{ row[1] }}</td>
                    <td>{{  row[5] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{  row[2] }}</td>
                    <td>{{  row[3] }}</td>
                    <td>{{  row[7] }}</td>
                    <td>{{  row[6] }}</td>
                    <td>{{  row[8] }}</td>
                    <td>{{  row[9] }}</td>
                    <td>{{  row[10] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
      <center>
        
        
        <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </p>
        <form method="post" action="/uplode" enctype="multipart/form-data">
            <dl>
            <p>
              <input type="file" name="file" autocomplete="off" required>
            </p>
            </dl>
            <p>
            <input type="submit" value="Submit">
          </p>
        </form>
       
      <a class="btn btn-primary btn-lg" href="/f" role="button">เพิ่มโครงการใหม่</a>
           
        <a class="btn btn-primary btn-lg" href="addproject" role="button">เพิ่มโครงการใหม่</a>
        <a class="btn btn-primary btn-lg" href="consider" role="button"> consider</a>
        <a class="btn btn-primary btn-lg" href="login" role="button"> login</a>
        <a class="btn btn-primary btn-lg" href="กรรมการ" role="button"> กรรมการ</a>
    </center>
      </center>
    {% endblock %}