<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-" style="background-color:rgba(10, 39, 97, 0.83)">
  <div id="main">
    <span style="color:#f1f1f1;font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>&nbsp;
    <a style="color:#f1f1f1; text-align: center;font-size: 26;">{{session.user_fullname}}</a>
  </div>
  <div class="container">
    <h1 style="background-color: #f1f1f1"></h1>
      <body>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3 style="color:#f1f1f1; text-align: center;">{{session.user_fullname}}</h3>
        <hr style="position: relative; top: 20px ; color:#ffffff;">
        <a href="/home"style="position: relative; top: 20px;"class="glyphicon glyphicon-home">หน้าหลัก</a>
        <a href="/myproject" style="position: relative; top: 20px;">โครงการของฉัน</a>
      </hr>
        <hr style="position: relative; top:400px; color:#ffffff;">
        <a href="{{url_for('logout')}}" style="position: relative; top:400px;">ออกจากระบบ</a>
      </hr>
      </div>
      </body>
    <a ALIGN="RIGHT" class="navbar-brand" style="color:#f1f1f1;" href="/home"> <img style="position: relative; top:4px;" src="https://www.img.in.th/images/9d4acbd200b1f8c31a8840d28462942c.png" width="109" height="25" class="d-inline-block align-top">&nbsp;&nbsp;พิพิธภัณฑ์วิทยาศาสตร์แห่งชาติ</a>
</nav>

<style>
  body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(10, 39, 97, 0.83);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script>