<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
    <br>
    <h1 align="center">คณะกรรมการ</h1>
    <br>
    <form action="/addboard" method="post">
        <center>
        <p>
        <div class="autocomplete" style="width:300px;">
            <input id="myInputt" type="text" name="myCountry" placeholder="ชื่อ - นามสกุล">
        </div>
        <select name="board" size="1">
            <option value="1">ประธาน<br>
            <option value="2">เลขาธิการ<br>
            <option value="3">กรรมการ<br>
        </select>
        </p>
        <input type="submit" value="เพิ่มคณะกรรมการ">
        </center>
    </form>
    {% endblock %}