<doctype html>

    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
    <br>
    <h1 align="center">คณะกรรมการ</h1>
    <br>
    <form action="/addboardc" method="post">
        <center>
        <p>
            <div class="col-md-6">
                <select id="single" class="js-states form-control" style="width: 50%" name="userid">
                    <option value="0">ชื่อ-นามสกุล</option>
                    {% for result in rows %}
                    <option value="{{result['user_id']}}">{{result['user_fullname']}}</option>
                    {% endfor %}
                </select>
              
        <select name="roleid" size="1">
            <option value="1">ประธาน<br>
            <option value="2">กรรมการ<br>
            <option value="3">เลขาธิการ<br>
        </select>
        </div>
        </p>
        <input name="bophase" value="2" type="hidden">
        <input name="pjid" value="{{row[0]['pj_id']}}" type="hidden">
        <br><br>
        <input type="submit" value="เพิ่มคณะกรรมการ">
        </center>
    </form>
    <br>
    <table id="customers">
        <tr>
        <th>ชื่อ-นามสกุล</th>
        <th>ตำแหน่ง</th>
        <th>ลบรายชื่อ</th>
        </tr>
        {% for result in row %}
        <tr>
        <td>{{result['user_fullname']}}</td>
        <td>{{result['role_name']}}</td>
        <td><a type="button" class="btn btn-danger" href="/project/{{result['pj_id']}}/editevent/{{result['ev_id']}}" >แก้ไข</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}