<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
    <br>
    <h1 align="center">คณะกรรมการ</h1>
    <br>
    <form autocomplete="off" action="/action_page.php">
        <center>
        <p>
        <div class="autocomplete" style="width:300px;">
            <input id="myInputt" type="text" name="myCountry" placeholder="ชื่อ - นามสกุล">
        </div>
        <select name="board" size="1">
            <option value="1">ประธาน<br>
            <option value="2">เลขาธิการ<br>
            <option value="3">กรรมการ<br>
        </select>
        </p>
        <input type="submit" value="เพิ่มคณะกรรมการ">
        </center>
    </form>
    
    

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <ul id="myUL">
      {% for result in row %}
      <li><a href="#">{{result['user_fullname']}}</a></li>
      {% endfor %}
      
      <li><a href="#">Agnes</a></li>

      <li><a href="#">Billy</a></li>
      <li><a href="#">Bob</a></li>

      <li><a href="#">Calvin</a></li>
      <li><a href="#">Christina</a></li>
      <li><a href="#">Cindy</a></li>
    </ul>

    <script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>

    {% endblock %}