<doctype html>
    {% extends 'layout.html' %}
     {% block body %}
    <br><br>
    <center><h2 class="display-4">เพิ่มข้อมูล</h2></center> 
    
        <form action="/addexamine" method="post">
            <div class="card">
                <div class="row">
                  <div class="col-25">
                    <label>วันที่ประกาศผลบริษัทผู้รับเหมา</label>
                  </div>
                  <div class="col-75">
                    <p><input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label>บริษัทผู้รับเหมา</label>
                  </div>
                  <div class="col-75">
                    <p><input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> </p>
                    <label>{{row[0]['contt_name']}}</label>
                  </div>
                </div><div class="row">
                  <div class="col-25">
                    <label>ค่ารับเหมา</label>
                  </div>
                  <div class="col-75">
                    <p> 
                        <input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> 
                    </p>
                    <label>{{row[0]['contt_fee']}} บาท</label>
                  </div>
                </div><div class="row">
                  <div class="col-25">
                    <label>วันที่เริ่ม</label>
                  </div>
                  <div class="col-75">
                    <p> 
                        <input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> 
                    </p>
                    <label>{{row[0]['conttstart']}}</label>
                  </div>
                </div><div class="row">
                  <div class="col-25">
                    <label>วันที่สิ้นสุด</label>
                  </div>
                  <div class="col-75">
                    <p> 
                        <input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> 
                    </p>
                    <label>{{row[0]['conttend']}}</label>
                  </div>
                </div><div class="row">
                  <div class="col-25">
                    <label>ระยะเวลาคงเหลือ</label>
                  </div>
                  <div class="col-75">
                    <p> 
                        <input name="conttdate" value="" type="text" style="width:750px;" placeholder="วันที่ประกาศผลบริษัทผู้รับเหมา" required> 
                    </p>
                    <label>พันล้านปี</label>
                  </div>
                </div>
                <p align="right"><a href="/addcontractor/{{id}}" >เพิ่ม</a><a href="/editcontractor/{{id}}/{{row[0]['contt_id']}}" > แก้ไข</a></p>
              </div>
            </div>
        </form>
    
 <input class="btn btn-primary btn-lg" type="button" onclick="history.back()" value="ย้อนกลับ">
 {% endblock %}
