<doctype html>
   {% extends 'layout.html' %}
   {% block body %}
   <br>
   <a class="btn btn-primary btn-lg" type="submit" href="/home" value="ย้อนกลับ">ย้อนกลับ</a>
   <br>
   <br>
   <div class="jumbotron">
   <center><h1>โครงการใหม่</h1></center>
   <hr>
   <form id="form" action="/addProject" method="post">
      <br>         
      <dl>
      <p>
         เลขสรรบัญ: <input name="refNumber" id="ref" value="" type="text" style="width:100px; " placeholder="เลขสรรบัญ" autocomplete="off" required> 
      </p>
      <p>
        
        
            <div class="row">
                <div class="col-md-6">
                     สำนักงาน
                    <select name="ofid"  id="ofid" class="form-control" title="Select office"> 
                     <option value=""></option>
                        {% for row in office %}
                            <option value="{{row.of_id}}">{{row.of_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                     กอง
                    <select name="dvid"  id="dv_name" class="form-control" title="Select division">
                     
                  </select>
                </div>
            </div>
        </p>
      <p>
         ชื่อโครงการ: <input name="name" value="" type="text" style="width:814px;" placeholder="ชื่อโครงการ" autocomplete="off" required> 
      </p>
      <p>ประเภทโครงการ 
         <a class="container">&nbsp;&nbsp;&nbsp;
            <input type="radio" checked="checked" name="radio"  value="จัดซื้อ"> จัดซื้อ
            <span class="checkmark"></span>
         </a>&nbsp;&nbsp;&nbsp;
         <a class="container">
            <input type="radio" name="radio" value="จัดจ้าง">จัดจ้าง
            <span class="checkmark"></span>
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
         งบประมาณ:
         <input name="amount" value="" type="text" id="num"style="width:300px;"placeholder="จำนวนงาน"  autocomplete="off" required>
      </p>
      <p>
         รายละเอียดโครงการ
      </p> 
      <p> 
         <input name="detail" value="" type="text" style="width:900px; height: 88;  " placeholder="รายละเอียด " autocomplete="off" required> 
      </p>
      <p>
         วงเงิน:<input name="financeAmount" value="" id="num2"type="text" style="width:170px; " placeholder="วงเงิน "  autocomplete="off" required>&nbsp;บาท&nbsp;&nbsp; &nbsp;
         โดยใช้งบประมาณ:<input name="budgetSource" value="" type="text" style="width:153px; " placeholder="ที่มางบประมาณ " autocomplete="off" required>  &nbsp;&nbsp;
         ประจำปีงบประมาณ:<input name="budgetYears" value="{{office[0]['curyear']}}" type="text" style="width:170px; " placeholder="ประจำปีงบประมาณ " autocomplete="off" required>
      </p>
      
      <br>
      <br>
      <br>
      <CENTER>
      <p>
         <input type="submit" class="btn" value="เพิ่มโครงการ">
      </p>
      </CENTER>
      </dl>
   </div>   
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js">
</script>
<script>
   $(document).ready(function () {
      function load_data(type, category_id) {
      $.ajax({
      url: "/division",
      method: "POST",
      data: { type: type, category_id: category_id },
      dataType: "json",
      success: function (data) {
         var html = "";
         for (var count = 0; count < data.length; count++) {
            html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";

         }
         if (type == "ofid") {
            $("#ofid").html(html);
            $("#ofid").selectpicker("refresh");
         } else {
            $("#dv_name").html(html);
            
         }
         },
      });
   }

   $(document).on("change", "#ofid", function () {
      var category_id = $("#ofid").val();
      load_data("dvid", category_id);
   });
});

    
</script>
<script>
   (function($, undefined) {

"use strict";

// When ready.
$(function() {
   
   var $form = $( "#form" );
   var $input = $form.find( "input" );
   var nam = document.getElementById('num').name;
   var nam2 = document.getElementById('num2').name;
   $input.on( "keyup", function( event ) {
      
      
      // When user select text in the document, also abort.
      var selection = window.getSelection().toString();
      if ( selection !== '' ) {
         return;
      }
      
      // When the arrow keys are pressed, abort.
      if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
         return;
      }
      
      
      var $this = $( this );
      
      // Get the value.
      var input = $this.val();
      
      if (nam == "amount" || nam2 == "financeAmount"){
      var input = input.replace(/[\D\s\._\-]+/g, "");
            input = input ? parseInt( input, 10 ) : 0;

            $this.val( function() {
               return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
            } );
      } 
   } );
   
   /**
    * ==================================
    * When Form Submitted
    * ==================================
    */
   $form.on( "submit", function( event ) {
      
      var $this = $( this );
      var arr = $this.serializeArray();
   
      for (var i = 0; i < arr.length; i++) {
            arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
      };
      
      console.log( arr );
      
      event.preventDefault();
   });
   
});
})(jQuery);
</script>
{% endblock %}