<doctype html>
   {% extends 'layout.html' %}
   {% block body %}
   <br>
   <a class="btn btn-primary btn-lg" type="submit" href="/home" value="ย้อนกลับ">ย้อนกลับ</a>
   <br>
   <br>
   <div class="jumbotron">
      <center><h1>โครงการใหม่</h1></center>
      <hr>
      <form action="/addProject" method="post">
         <br>         
         <dl>
         <p>
            เลขสรรบัญ: <input name="refNumber" value="" type="text" style="width:100px; " placeholder="เลขสรรบัญ" autocomplete="off" required> 
         </p>
         <p>
         <div class="row">
            <div class="col-md-6">
                  สำนักงาน
               <select name="ofid"  id="ofid" class="form-control" title="Select office"> 

                     {% for row in office %}
                        <option value="{{row.of_id}}">{{row.of_name}}</option>
                     {% endfor %}
               </select>
            </div>
            <div class="col-md-6">
               กอง
               <select name="dvid"  id="dv_name" class="form-control" title="Select division">
                  
               </select>
            </div>
         </div>
         </p>
         <p>
            ชื่อโครงการ: <input name="name" value="" type="text" style="width:814px;" placeholder="ชื่อโครงการ" autocomplete="off" required> 
         </p>
         <p>ประเภทโครงการ 
            <a class="container">&nbsp;&nbsp;&nbsp;
               <input type="radio" checked="checked" name="radio"  value="จัดซื้อ"> จัดซื้อ
               <span class="checkmark"></span>
            </a>&nbsp;&nbsp;&nbsp;
            <a class="container">
               <input type="radio" name="radio" value="จัดจ้าง">จัดจ้าง
               <span class="checkmark"></span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            งบประมาณ:<input name="amount" value="" type="text" style="width:300px;"placeholder="จำนวนงาน" autocomplete="off" id="currency-field" pattern="^\d{1,3}(,\d{3})*(\.\d+)?" data-type="currency" required>
         </p>
         <p>
            รายละเอียดโครงการ
         </p> 
         <p><input name="detail" value="" type="text" style="width:900px; height: 88;  " placeholder="รายละเอียด " autocomplete="off" required></p>
         <p>
            วงเงิน:<input name="financeAmount" value="" type="text" style="width:170px; " placeholder="วงเงิน " autocomplete="off" required>&nbsp;บาท&nbsp;&nbsp; &nbsp;
            โดยใช้งบประมาณ:<input type="text" list="budgetSource" name="budgetSource" id="browser"style="width:200px; " placeholder="ที่มางบประมาณ " autocomplete="off" required>
                           <datalist id="budgetSource">
                           <option value="งบลงทุน">
                           <option value="งบดำเนินงาน">
                           </datalist> &nbsp;&nbsp;
            ประจำปีงบประมาณ:<input name="budgetYears" value="max" type="text" style="width:156px; " placeholder="ประจำปีงบประมาณ " autocomplete="off" required>
         </p>
         <p>วันที่เริ่มการร่างโครงการและราคากลาง:<input name="start_draft" value="" type="date" onload="getDate()" id="date" style="width:170px; " placeholder="วันที่เริ่มการร่างโครงการและราคากลาง" autocomplete="off" required>&nbsp;&nbsp; &nbsp;</p>
         <br><br><br>
         <CENTER>
         <p><input type="submit" class="btn" value="เพิ่มโครงการ"></p>
         </CENTER>
         </dl>
      </form>
   </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js">
</script>
<script>
   $(document).ready(function () {
      function load_data(type, category_id) {
      $.ajax({
      url: "/division",
      method: "POST",
      data: { type: type, category_id: category_id },
      dataType: "json",
      success: function (data) {
         var html = "";
         for (var count = 0; count < data.length; count++) {
            html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";

         }
         if (type == "ofid") {
            $("#ofid").html(html);
            $("#ofid").selectpicker("refresh");
         } else {
            $("#dv_name").html(html);
            
         }
         },
      });
   }

   $(document).on("change", "#ofid", function () {
      var category_id = $("#ofid").val();
      load_data("dvid", category_id);
   });
});
</script>
<script>
   $("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    },
    blur: function() { 
      formatCurrency($(this), "blur");
    }
});


function formatNumber(n) {
   return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}

function formatCurrency(input, blur) {
   var input_val = input.val();
   if (input_val === "") { return; }
   var original_len = input_val.length;
   var caret_pos = input.prop("selectionStart");
   if (input_val.indexOf(".") >= 0) {
      var decimal_pos = input_val.indexOf(".");
      var left_side = input_val.substring(0, decimal_pos);
      var right_side = input_val.substring(decimal_pos);
      left_side = formatNumber(left_side);
      right_side = formatNumber(right_side);
      if (blur === "blur") {
         right_side += "00";
      }
      right_side = right_side.substring(0, 2);
      input_val = left_side + "." + right_side;
   } else {
      input_val = formatNumber(input_val);
      input_val = input_val;
      if (blur === "blur") {
         input_val += ".00";
      }
   }
   input.val(input_val);
   var updated_len = input_val.length;
   caret_pos = updated_len - original_len + caret_pos;
   input[0].setSelectionRange(caret_pos, caret_pos);
}
</script>
{% endblock %}