<doctype html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      {% extends 'layout.html' %}
      {% block body %}
        <br>
        <p align="right">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for project names.." title="Type in a name">
        </p>
        <div class="jumbotron">
          <h2>โครงการทั้งหมด</h2><br>
          <table class="table" id="customers">
              <tr>
                <th><center>ลำดับ</center></th>
                <th><center>ชื่อโครงการ</center></th>
                <th><center>เลขสารบัญ</center></th>
                <th><center>รายละเอียด</center></th>
                <th><center>ผู้รับผิดชอบ</center></th>
                <th><center>กิจกรรม</center></th>
                <th><center>ความคืบหน้า</center></th>
              </tr>
              {% for result in row %}
              <tr>
                <td>{{result['row_num']}}</td>
                <td><a href = "/project/{{result['pj_id']}}">{{result['pj_name']}}</a></td>        
                <td> {{result['pj_refNumber']}}</td>
                <td>{{result['pj_detail']}}</td>
                <td>{{result['user_fullname']}}</td>
                <td>{{result['ev_name']}}</td>
                <td><center>{{result['x']}} %</center></td>        
              </tr>
              {% endfor %}
          </table>
        </div>
        <script>
          function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("customers");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }       
            }
          }
          </script>
      {% endblock %}