  {% extends 'layout.html' %}
  {% block body %}
    <body>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="padding-left: 5%;padding-bottom:5%;">
              <h1>150</h3>
              จำนวนผู้ใช้งาน
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="padding-left: 5%;padding-bottom:5%;">
              <h1>150</h3>
              จำนวนผู้ใช้งาน
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="padding-left: 5%;padding-bottom:5%;">
              <h1>150</h3>
              จำนวนผู้ใช้งาน
            </div>
          </div>
        </div>
          
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="padding: 5px;" align="center">
                <h1>1000</h1>
                <h3>โครงการทั้งหมด</h3><hr style="margin-top: 0px;margin-bottom:0px;">
              </div>
              <div class="card-body" style="padding: 5px;">
                <div class="col-40">
                  <lable>ดำเนินการ</lable>
                </div>
                <div class="col-40">
                  <lable>150</lable>
                </div>
              </div>
              <div class="card-body" style="padding: 5px;">
                <div class="col-40">
                  <lable>สำเร็จ</lable>
                </div>
                <div class="col-40">
                  <lable>150</lable>
                </div>
              </div>
              <div class="card-body" style="padding: 5px;">
                <div class="col-40">
                  <lable>ยกเลิก</lable>
                </div>
                <div class="col-40">
                  <lable>150</lable>
                </div>
              </div>
            </div>
            </div>

            <div class="col-md-8">
              <div class="card" style="width: 100%;height: 100%;">
                
              </div>
            </div>

          </div>
        </div>
          
      </div>
      
    </body>
  {% endblock %}