<doctype html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% extends 'layout.html' %}  
    {% block body %}
              <BR>
              <BR>
  
              <div class="jumbotron">
                    <center><h1>การตรวจงวดงาน</h1></center>
                    <form action="/addcheck" method="post" onSubmit="JavaScript:return check();" >
                    <br>
                    <p><input name="pj_id" value="{{row[0]['pj_id']}}" type="hidden"></p>
                    <div class="row">
                      <div class="col-25">
                        <label>เลขที่สัญญา</label>
                      </div>
                      <div class="col-75">
                        <label><input name="contractNo" value="" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" style="width:300px; " placeholder="เลขที่สัญญา" autocomplete="off" required> </p></label>
                      </div>
                    </div>  
                    <hr>
                    <div class="row">
                        <div class="col-25">
                       <H2>งวดที่ 1 </H2>
                       <br>
                        <div class="col-75">
                            <label><input name="ins_no" value="1" type="hidden" style="width:300px; "   placeholder="งวดที่" autocomplete="off" required> </p></label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label>วันที่ตรวจรับ</label>
                      </div>
                      <div class="col-75">
                        <label><input name="check_date" value="" type="date" id="cdate1" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label>รายละเอียดการตรวจรับ</label>
                      </div>
                      <div class="col-75">
                        <label><input name="check_detail" value="" type="text" style="width:700px; height: 100px;  " placeholder="" autocomplete="off" required> </p></label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                          <label>วันที่เบิกจ่าย</label>
                        </div>
                        <div class="col-75">
                        <label><input name="ins_date" value="" type="date" id="ndate1" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label>ยอดที่เบิกจ่าย</label>
                      </div>
                      <div class="col-75">
                        <label><input name="ins_amount" value="" id="number1" class="mask" type="text"  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onchange="sum()" style="width:300px; "  autocomplete="off" required> </p></label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label>รายละเอียดการเบิกจ่าย</label>
                      </div>
                      <div class="col-75">
                        <label><input name="ins_detail" value="" type="text" style="width:700px; height: 100px; " placeholder="" autocomplete="off" required> </p></label>
                      </div>
                    </div>
                  <hr>
                  <div class="row">
                      <div class="col-25">
                        <H2>งวดที่ 2 </H2>
                        <br>
                      <div class="col-75">
                          <label><input name="ins_no1" value="2" type="hidden" style="width:300px; "  placeholder="งวดที่" autocomplete="off" required> </p></label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>วันที่ตรวจรับ</label>
                    </div>
                    <div class="col-75">
                      <label><input name="check_date1" value="" type="date" id="cdate2" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>รายละเอียดการตรวจรับ</label>
                    </div>
                    <div class="col-75">
                      <label><input name="check_detail1" value="" type="text" style="width:700px; height: 100px;  " placeholder="" autocomplete="off" required> </p></label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-25">
                        <label>วันที่เบิกจ่าย</label>
                      </div>
                      <div class="col-75">
                      <label><input name="ins_date1" value="" type="date" id="ndate2" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>ยอดที่เบิกจ่าย</label>
                    </div>
                    <div class="col-75">
                      <label><input name="ins_amount1" value=""  id="number2" class="mask" type="text"   oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onchange="sum()" style="width:300px; "  autocomplete="off" required> </p></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>รายละเอียดการเบิกจ่าย</label>
                    </div>
                    <div class="col-75">
                      <label><input name="ins_detail1" value="" type="text" style="width:700px; height: 100px; " placeholder="" autocomplete="off" required> </p></label>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-25">
                        <H2>งวดที่ 3 </H2>
                        <br>
                      <div class="col-75">
                          <label><input name="ins_no2" value="3" type="hidden" style="width:300px; "  placeholder="งวดที่" autocomplete="off" required> </p></label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>วันที่ตรวจรับ</label>
                    </div>
                    <div class="col-75">
                      <label><input name="check_date2" value="" type="date" id="cdate3" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>รายละเอียดการตรวจรับ</label>
                    </div>
                    <div class="col-75">
                      <label><input name="check_detail2" value="" type="text" style="width:700px; height: 100px;  " placeholder="" autocomplete="off" required> </p></label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-25">
                        <label>วันที่เบิกจ่าย</label>
                      </div>
                      <div class="col-75">
                      <label><input name="ins_date2" value="" type="date" id="ndate3" max="{{row[0]['contt_end']}}" min="{{row[0]['contt_start']}}"></input></label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>ยอดที่เบิกจ่าย</label>
                    </div>
                    <div class="col-75">
                      <label><input name="ins_amount2" value=""  id="number3" class="mask" type="text"  onchange="sum()"  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" style="width:300px; "  autocomplete="off" required> </p></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label>รายละเอียดการเบิกจ่าย</label>
                    </div>
                    <div class="col-75">
                      <label><input name="ins_detail2" value="" type="text" style="width:700px; height: 100px; " placeholder="" autocomplete="off" required> </p></label>
                    </div>
                    <label><input name="contt_m" value="{{row[0]['contt_fin']}}" type="hidden" id="number4" style="width:300px; "  placeholder="งวดที่" autocomplete="off" required> </p></label>
                  </div>
                  <hr>
                 <center><input type="submit" class="btn"  value="เพิ่ม"></center>
                  </div>
               
                </div>
            
            </div>
          </form>
  <script>
          function check(){
            var c1 = Number(document.getElementById("number1").value);
            var c2 = Number(document.getElementById("number2").value);
            var c3 = Number(document.getElementById("number3").value);
            var c4 = Number(document.getElementById("number4").value);
            num = c1+c2+c3;
            if (num == c4) {
              alert("เพิ่มข้อมูลสำเร็จ");
              return true;
            }
            else {
              alert('ยอดเบิกจ่ายเกิน');
              return false;
            }
          }
  </script>   

  <!-- ฟังก์ชั่นเรียกสคิป -->
<!-- onkeyup="this.value=add_commas(this.value);" -->
<script>function add_commas(number){
	//remove any existing commas...
	number=number.replace(/,/g, "");
	//start putting in new commas...
	number = '' + number;
	if (number.length > 3) {
		var mod = number.length % 3;
		var output = (mod > 0 ? (number.substring(0,mod)) : '');
		for (i=0 ; i < Math.floor(number.length / 3); i++) {
			if ((mod == 0) && (i == 0))
				output += number.substring(mod+ 3 * i, mod + 3 * i + 3);
			else
				output+= ',' + number.substring(mod + 3 * i, mod + 3 * i + 3);
		}
		return (output);
	}
	else return number;
}
</script>
      <script>
        function sum(){
            var c1 = Number(document.getElementById("number1").value);
            var c2 = Number(document.getElementById("number2").value);
            var c3 = Number(document.getElementById("number3").value);
            var c4 = Number(document.getElementById("number4").value);
            var num1 = parseInt(c2)+parseInt(c3);
            var num2 = parseInt(c1)+parseInt(c3);
            var num3 = parseInt(c1)+parseInt(c2);
            var mvalue1 = parseInt(c4)-parseInt(Number(num1));
            var mvalue2 = parseInt(c4)-parseInt(Number(num2));
            var mvalue3 = parseInt(c4)-parseInt(Number(num3));
            var mmvalue1 = parseInt(Number(mvalue1))/2;
            var mmvalue2 = parseInt(Number(mvalue2))/2;
            var mmvalue3 = parseInt(Number(mvalue3))/2;
            if(c1+c2+c3 > c4){
              alert('ยอดเบิกจ่ายเกิน '+c4+" โปรดกรอกใหม่หรือRefreshหน้า");
              return false;
              }
            else if(mvalue1 < 0 || mvalue2 < 0 || mvalue3 < 0){
              alert('ยอดเบิกจ่ายเกิน '+c4+" โปรดกรอกใหม่หรือRefreshหน้า");
              return false;}
            else if(mvalue1 >= 0 || mvalue2 >= 0 || mvalue3 >= 0){
                if(c2 > 0 && c3 > 0){
                  document.getElementById('number1').value = parseInt(Number(mvalue1));
                  }
                else if(c1 > 0 && c3 > 0){
                  document.getElementById('number2').value = parseInt(Number(mvalue2));
                  }
                else if(c1 > 0 && c2 > 0){
                  document.getElementById('number3').value = parseInt(Number(mvalue3));
                  }
                else if(c3>0){
                  document.getElementById('number3').value = c3;
                  }
                else
                  document.getElementById('number3').value = '';}
            else{
                document.getElementById('number3').value = 'ผิดพลาด';}
        }
  </script>   
  <script>

    $("input.mask").each((i,ele)=>{
        let clone=$(ele).clone(false)
        clone.attr("type","text")
        let ele1=$(ele)
        clone.val(Number(ele1.val()).toLocaleString("en"))
        $(ele).after(clone)
        $(ele).hide()
        clone.mouseenter(()=>{
    
          ele1.show()
          clone.hide()
        })
        setInterval(()=>{
          let newv=Number(ele1.val()).toLocaleString("en")
          if(clone.val()!=newv){
            clone.val(newv)
          }
        },10)
    
        $(ele).mouseleave(()=>{
          $(clone).show()
          $(ele1).hide()
        })   
      })
    </script>
    <script>
      var cdate1 = document.getElementById("cdate1").value;
      var ndate1 = document.getElementById("ndate1").value;
      var cdate2 = document.getElementById("cdate2").value;
      var ndate2 = document.getElementById("ndate2").value;
      var cdate3 = document.getElementById("cdate3").value;
      var ndate3 = document.getElementById("ndate3").value;
      if (cdate1 != ""){
        document.getElementById('cdate2').min = ndate1;
      }
    </script>
{% endblock %}
</html>