<doctype html>
	{% extends 'layout.html' %}
	
	{% block body %}
	<body>
		<a id="myBtn" href="/project/{{id}}/{{p}}" class='btn' >ย้อนกลับ</a>
		<br>
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-75">
						<h1>เอกสารโครงการ</h1>
					</div>
					<div class="col-25" align="right">
						<p><button class="btn" onclick="showDiv('toggle')">เพิ่มเอกสาร</button></p>	
					</div>
					<div id="toggle" style="display:none">
						<form method='POST' name="newpath" enctype='multipart/form-data' >
							<div style="padding-left: 20px;">
								<h3>เพิ่มเอกสาร</h3>
								<div class="row">
									<p>ชื่อไฟล์ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="path_name" type="text" style="width:500px; " maxlength="45" placeholder="ชื่อไฟล์" autocomplete="off" required> </input></p>
									<p>รายละเอียด&nbsp;&nbsp;<input name="path_detail" type="text" style="width:500px;"placeholder="รายละเอียด" maxlength="45" autocomplete="off" required></input></p>
								</div>
								<br>
								<div class="col-75">
									{{form.hidden_tag()}}
									{{form.file()}}
								</div>
								<div class="col-25">
									{{form.submit()}}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="card-body">
				{% for result in row %}
					
					<div class="row" style="padding-left:30px;">
						<h3>{{result['path_name']}}</h3>
						<div class="row">
							<div class="col-50">
								<h6>รายละเอียด :</h6>
								<h6>{{result['path_detail']}}</h6>
							</div>
							<div class="col-25">
								<a href="\static\files\{{result['path_path']}}" >view file</a><br>
								<a href="\static\files\{{result['path_path']}}" download>download</a>
							</div>
							<div class="col-25">
								<a class="btn" href="/project/{{result['pj_id']}}/doc/{{result['path_phase']}}/{{result['path_id']}}" role="button" onclick="return confirm('ยืนยันการลบเอกสาร ?')" >ลบเอกสาร</a>
							</div>
						</div>
					</div>
					<hr>
				
				{% endfor %}
			</div>

		</div>
		<script type="text/javascript">
			function showDiv(Div) {
				 var x = document.getElementById(Div);
					 if(x.style.display=="none") {
						 x.style.display = "block";}
					 else { x.style.display = "none";}
			}
		</script>
	</body>
	{% endblock %}