<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
        <center><h1>แก้ไขกิจกรรม</h1></center>
        <br>
        <form action="/editevent" method="post">
        <div class="row">
            <div class="col-25">
              <label>ชื่อ</label>
            </div>
            <div class="col-75">
                <p> <input name="evname" value="{{row[0]['ev_name']}}" type="input" style="width:700px; "  required> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label>รายละเอียด</label>
            </div>
            <div class="col-75">
            <p> <input name="evdetail" value="{{row[0]['ev_detail']}}" type="text" style="width:700px; height: 88;  " required> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label>วันที่</label>
            </div>
            <div class="col-75">
            <input name="evdate" value="{{row[0]['ev_date']}}" type="date"></input>
            <input name="evphase" value="{{row[0]['ev_phase']}}" type="hidden">
            <input name="pjid" value="{{row[0]['pj_id']}}" type="hidden">
            <input name="evid" value="{{row[0]['ev_id']}}" type="hidden">
            </div>
        </div>
    </div>
    <center><input type="submit" class="btn btn-primary btn-lg" value="Submit" ></center>
    </div>
    </form>
    {% endblock %}