<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
        <center><h1>แก้ไขประกาศจากกองพัสดุ</h1></center>
        <br>
        <form action="/editpac/{{id}}/{{pac[0]['pac_id']}}" method="post">
            <!-- <div class="row">
                <div class="col-25">
                <h4>รายละเอียดประกาศ</h4>
                </div>
                <div class="col-75">
                    <p> <input name="pac_detail" value="{{pac[0]['pac_detail']}}" type="text" style="width:700px; height: 88;  " required> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                <h4>วันที่ประกาศ</h4>
                </div>
                <div class="col-75">
                <p> <input name="pac_date" value="{{pac[0]['pac_date']}}" type="date" required> </p>
                </div>
            </div> -->
            <div class="card-body" style="margin-left: 10px;">
                <div class="row">
                    <p>
                        <div class="col-20" align="right" ><label>รายละเอียดประกาศ:</label></div>
                        <div class="col-75"><textarea  name="pac_detail" placeholder="Write something.." style="height:100px" required>{{pac[0]['pac_detail']}}</textarea></div>
                        
                    </p>
                    <p>
                        <div class="col-20" align="right"><label>วันที่ประกาศ:</label></div>
                        <div class="col-75"><input name="pac_date" value="{{pac[0]['pac_date']}}" type="date" required></div>
                    </p>
                </div>
            </div>
            <center><input type="submit" class="btn btn-primary btn-lg" value="ยืนยัน" ></center>
        </form>
    </div>
    {% endblock %}