<doctype html>
    {% extends 'layout.html' %}
     {% block body %}
    <br><br>
    <center><h2 class="display-4">เพิ่มข้อมูล</h2></center> <br>
    <div class="jumbotron">
       <form action="/addexamine" method="post"><br>
       <dl>
            <p>
                <div class="col-25"><label>วันที่ประกาศผลบริษัทผู้รับเหมา</label></div>
                <div class="col-75"><label><input name="" value="" type="date" style="width:100px; " placeholder=""  required> </label></div>
            </p> 
            <p>
                <div class="col-25"><label>บริษัทผู้รับเหมา</label></div>
                <div class="col-75"><label><input name="" value="" type="text" style="width: 500px;" placeholder=""  required> </label></div>
            </p>
            <p>
                <div class="col-25"><label>ค่ารับเหมา</label></div>
                <div class="col-75"><label><input name="" value="" type="text" style="width:500px;" placeholder=""  required> </label></div>
            </p>
            <!-- ตัวจับเวลาหรือป่าว -->
            <p>
                <div class="col-25"><label>วันเวลาที่เริ่ม</label></div>
                <div class="col-75"><label><input name="" value="" type="text" style="width:500px;"placeholder=""  required></label></div>
            </p>
            <!-- ตัวจับเวลาหรือป่าว -->
            <p>
                <div class="col-25"><label>วันเวลาที่สิ้นสุด</label></div>
                <div class="col-75"><label><input name="" value="" type="text" style="width:500px;  " placeholder=" " required></label></div> 
            </p>
            <!-- ตัวจับเวลาหรือป่าว -->
            <p>
                <div class="col-25"><label>ระยะเวลา</label></div>
                <div class="col-75"><label><input name="" value="" type="t
                    ext" style="width:500px;" placeholder=""  required> </label></div>
            </p>
             <br><br><br>
             <CENTER> <p>
                <input type="submit" class="btn" value="เพิ่มข้อมูล">
             </p></CENTER>
        </dl>
           <br>
    </div>   
 </form>
 <input class="btn btn-primary btn-lg" type="button" onclick="history.back()" value="ย้อนกลับ">
 {% endblock %}