<doctype html>
  {% extends 'layout.html' %}
  
  {% block body %}
  <head>
 <style>
  a {
      display:block;
    }
    * {
        box-sizing: border-box;
      }
    .openBtn {
      display: block;
      justify-content: left;
      }
    .openButton {
      border: none;
      border-radius: 5px;
      background-color: #2E4778;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
      }
    .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
      }
    .formPopup {
        display: none;
        position: fixed;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        z-index: 9;
      }
    .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
      }
    .formContainer input[type=date] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
    .formContainer input[type=date]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer input[type=text] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        text-align: center;
        border: none;
        background: #eee;
      }
    .formContainer input[type=text]:focus {
        background-color: #ddd;
        outline: none;
      }
    .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #2E4778;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
      }
    .formContainer .cancel {
        background-color: grey;
      }
    .formContainer .btn:hover,
    .openButton:hover {
        opacity: 1;
      }
  </style>
  </head>
  
  <div class="row">
    <p>
      <br><h1>ตรวจรับโครงการ</h1>
      <div class="card-group">
        <div class="card">
          <div class="card-header">
            <center><h5>สถานะ</h5> </center>
          </div>
          <div class="card-body" align="center">
            
            <progress id="file" value="{{row[0]['stex_percent']}}" max="100"></progress>    
            <br><br>
            <label  id="sh" for="file">{{row[0]['stex_name']}}</label><p style="color: red;" id="exalert"></p>
            <p id="shwoone"></p>
            <form action="/project/{{row[0]['pj_id']}}/examine" method="post">
              <input name="std" id="stex" value="{{row[0]['stex_id']}}" type="hidden">
              <input name="PMC" id="pop" value="{{row[0]['examPMcheck']}}" type="hidden">
              <div align="center"><input type="hidden" id="exambutton" value="ยืนยัน" ></form></div>

              <div class="openBtn">
                <button class="openButton" onclick="openForm()" id="openfex" style="display: none;"><strong id="formbutton">กรอกวันที่</strong></button>
              </div>
              <div class="loginPopup">
                <div class="formPopup" id="popupForm">
                  <form action="/project/{{row[0]['pj_id']}}/examine" method="post" class="formContainer">
                    <input name="userrole" id="userrole" value="{{role['role']}}" type="hidden">
                        <label>
                          <strong>วันที่เริ่มต้น</strong>
                        </label>
                        <input type="date" value="0000-00-00" name="contt_start" id="contt_start" required>
                        <label>
                          <strong>วันที่สิ้นสุด</strong>
                        </label>
                        <input type="date" value="0000-00-00" name="contt_end" id="contt_end" required>
                        <input name="conttst" id="conttst" value="{{row[0]['contt_start']}}" type="hidden">
                        <input name="contten" id="contten" value="{{row[0]['contt_end']}}" type="hidden">
                        <input name="conttid" id="conttid" value="{{row[0]['contt_id']}}" type="hidden">
                        <button type="submit" class="btn">เสร็จสิ้น</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">ยกเลิก</button>
                  </form>
                </div>
              </div>
              <input name="userrole" id="userrole1" value="{{role['role']}}" type="hidden">
              {% for row in one %}
              <input name="sd1" id="sd1" value="{{row['daten']}}" type="hidden">
              {% endfor %}
              {% for row in two %}
              <input name="sd2" id="sd2" value="{{row['daten']}}" type="hidden">
              {% endfor %}
              {% for row in three %}
              <input name="sd3" id="sd3" value="{{row['daten']}}" type="hidden">
              {% endfor %}
          </div>
        </div>
        <p></p>
        <div class="card" id="divd" style="margin-left:5px;">
          <div class="card-header" align="center">
            <h5>การตรวจงาน</h5>
          </div>
          <div class="card-body">
            <div class="newspaper">
              {% for row in dis %}
              <a>งวดที่ :</a>
              <a id="c1">{{row['ins_no']}}</a><br>
              <a>ประจำวันที่ :</a><br>
              <a id="c2">{{row['checkdate']}}</a><br>
              <a>รายละเอียด :</a><br>
              <a id="c3">{{row['check_detail']}}</a><br>
              <a>ยอดเบิกจ่าย :</a>
              <a id="c4">{{row['ins_amount']}}</a><br>
              <a>%การเบิกจ่าย :</a><br>
              <a id="c5">{{row['ff']}} %</a><br>
                {% endfor %}
          </div> 
          <input id="check" value="{{dis[0]['ins_no']}} " type="hidden">
          <p align="right"><a href="/project/{{id}}/check" id="addcheck">เพิ่ม</a><a href="/editcheck/{{id}}" id="editcheck"> แก้ไข</a></p> 
      </div>
        </div>
      </div>
    </p>
      <div class="leftcolumn">
        <div class="card">
          <div class="card-body">
            <h5>รายละเอียดโครงการ</h5><hr>
              <div class="row">
                <div class="col-25">
                  <label>เลขสารบัญ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_refNumber']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ชื่อโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_name']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ผู้รับผิดชอบโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{rows[0]['user_fullname']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>คณะกรรมการ</label>
                </div>
                <div class="col-75">
                  {% for result in row %}
                  <div class="row">
                    <div class="col-50">
                      <label id="fname">{{result['user_fullname']}}</label>
                    </div>
                    <div class="col-25">
                      <label  id="rname">{{result['role_name']}}</label>
                    </div>
                  </div>
                  <input id="user" value="{{row['user_fullname']}}" type="hidden">
                  {% endfor %}
                  <p align="right"><a href="addboarde" id="addboe">เพิ่ม</a><a href="addboarde" id="editboe"> แก้ไข</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>รายละเอียดโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_detail']}} บาท</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>งบประมาณ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_financeAmount']}} บาท</label>
                </div>
              </div>
        </div>
       </div>
        <div class="card" style="margin-top: 8px;">
          <div class="card-body">
            <h5>ข้อมูลบริษัท</h5><hr>
            <div class="row">
              <div class="col-25">
                <label>บริษัทผู้รับเหมา</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_name']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>อีเมล</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_email']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>เบอร์โทรศัพท์</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_tel']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>วันที่ประกาศผล</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['conttdate']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>วงเงิน</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_fin']}} บาท</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  
      
      <div class="rightcolumn" style="background-color:#ffffff;">
        <div class="card">
          <div class="card-header" align="center">
            <h5>ติดตามการตรวจรับ</h5>
          </div>
          <div class="card-body" align="center">
            <p>งวดที่ 1</p>
            <p id="con1"></p>
            <hr>
            <p>งวดที่ 2</p>
            <p id="con2"></p>
            <hr>
            <p>งวดที่ 3</p>
            <p id="con3"></p>
            <hr>
            <p id="con4"></p>
          </div>  
        </div>
        <br>
        <div class="card">
          <div class="card-header" align="center">
            <h5>การนัดหมาย</h5>
          </div>
          <div class="card-body" align="center">
            <p id="evn">{{ev[0]['ev_name']}}</p>
            <p id="evd">วันที่ {{ev[0]['evdate']}}</p>
            <p id="evt">เวลา {{ev[0]['evtime']}} น.</p>
            <a align="right" href="examineEvent">ดูเพิ่มเติม</a>
          </div>  
        </div>
        <div class="card" style="margin-top: 5px;">
          <center>
          <div class="card-body">
            <a align="center" href="doc/3">เอกสารโครงการ</a>
          </div></center>
        </div>
      </div>

  </div>
  <br>
  <a class="btn btn-primary btn-lg" type="button" href="/project/{{row[0]['pj_id']}}">ย้อนกลับ</a>

  <script>
    var popupForm = document.getElementById("popupForm");
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
    window.onclick = document.getElementById("popupForm").style.display = "none";
  </script>

<script>
  var c1 = document.getElementById("c1").innerHTML;
  var c2 = document.getElementById("c2").innerHTML;
  var c3 = document.getElementById("c3").innerHTML;
  var c4 = document.getElementById("c4").innerHTML;
  var c5 = document.getElementById("c5").innerHTML;
  if (c1 == "None"){
    document.getElementById("c1").innerHTML = "-";
    document.getElementById("c2").innerHTML = "-";
    document.getElementById("c3").innerHTML = "-";
    document.getElementById("c4").innerHTML = "-";
    document.getElementById("c5").innerHTML = "-";

  }
</script>

<script>
  var fname = document.getElementById("fname").innerHTML;
  var rname = document.getElementById("rname").innerHTML;
  if (fname == "None" && rname == "None" ){
    document.getElementById("fname").innerHTML = "-";
    document.getElementById("rname").innerHTML = "-";
  }
</script>

<script>
var usrole = document.getElementById('userrole1').value;
var stdd = document.getElementById('stex').value;
var pmc = document.getElementById('pop').value;
if (stdd == "1" && pmc != "prewait" && pmc != "wait" && usrole == "manager"){
  document.getElementById('exalert').innerHTML = "**โปรดเพิ่มคณะกรรมการ**";
}
if (stdd == "1" && pmc == "prewait" && usrole == "manager"){
  document.getElementById('openfex').style.display = "block";
}
</script>

<script>
  var stdd = document.getElementById('stex').value;
  var usrole = document.getElementById('userrole1').value;
  var pmc = document.getElementById('pop').value;

  if (stdd == "2" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 1";
}
  if (stdd == "2" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 1";
    document.getElementById('con1').style.background = "gray";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "100%";
    document.getElementById('con1').style.marginTop = "20px";
  }
 
  if (stdd == "3" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 2";
}
  if (stdd == "3" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 2";
    document.getElementById('con2').style.background = "gray";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "100%";
    document.getElementById('con2').style.marginTop = "20px";
  }

  if (stdd == "4" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 3";
}
  if (stdd == "4" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 3";
    document.getElementById('con3').style.background = "gray";
    document.getElementById('con3').style.color = "white";
    document.getElementById('con3').style.width = "100%";
    document.getElementById('con3').style.marginTop = "20px";
  }
  if (stdd == "5"  )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con3').style.background = "green";
    document.getElementById('con3').style.color = "white";
    document.getElementById('con3').style.width = "50%";
    document.getElementById('con3').style.marginTop = "20px";
  }
</script>  

  <script>
    var stex = document.getElementById('stex').value;
    var userrole = document.getElementById('userrole1').value;
    var pmc = document.getElementById('pop').value;
    document.getElementById('addboe').style.display= "block";
    document.getElementById('editboe').style.display= "none";
    if (stex != "1"  || pmc == "wait" || pmc == "prewait" && userrole == "manager"  ) {
    document.getElementById('addboe').style.display= "none";
    document.getElementById('editboe').style.display= "none";
    }
    else if (stex != "1"  || pmc == "wait" || pmc == "prewait" && userrole == "assistant"){
    document.getElementById('editboe').style.display= "block";
    document.getElementById('addboe').style.display= "none";
    }
    
    </script> 

  <script>
    var userrole = document.getElementById('userrole1').value;
    var stex = document.getElementById('stex').value;
    if (userrole == "manager") {
    document.getElementById('ea').style.display= "none";
    }
    else if (userrole == "assistant" && stex == 2 || stex == 1 ){
    document.getElementById('ea').style.display= "block";
    }
    else{
    document.getElementById('ea').style.display= "none";
    }
  </script> 
 
 
 <script>
      var sd1 = Number(document.getElementById("sd1").value);
      var sd2 = Number(document.getElementById("sd2").value);
      var sd3 = Number(document.getElementById("sd3").value);
      var stex = Number(document.getElementById("stex").value);
      var usrole = document.getElementById('userrole1').value;
      if(sd1 == 7 && stex == 2){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 == 7 && stex == 3){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 == 7 && stex == 4){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 == 3 && stex == 2 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 == 3 && stex == 3 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 == 3 && stex == 4 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 <0 && stex == 2 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่1 มา"+Math.abs(sd1)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 <0 && stex == 3 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่2 มา"+Math.abs(sd2)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 <0 && stex == 4 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่3 มา"+Math.abs(sd3)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 == 0 && stex == 2 ){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่1";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
        }
      else if(sd2 == 0 && stex == 3 ){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่2";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
      }
      else if(sd3 == 0 && stex == 4){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่3;";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
        document.getElementById('exambutton').type = "submit";
      }
</script>   
<script>
  var cev1 = document.getElementById('cev1').value;
  if (cev1 == "none") {
    document.getElementById("cev1").innerHTML = "-";
    document.getElementById("cev2").innerHTML = "-";
    document.getElementById("cev3").innerHTML = "-";
  }
</script>
<script>
  var check = Number(document.getElementById("check").value);
  var userrole = document.getElementById('userrole1').value;
  var stex = document.getElementById('stex').value;
  if (check == "-" ||check == "None") {
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "manager" ){
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "assistant" && stex == 2 ){
  document.getElementById('addcheck').style.display= "block";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "assistant" && stex != 2  && stex != 1 ){
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "block";
  }
</script> 
<script>
  var sd1 = Number(document.getElementById("sd1").value);
  var sd2 = Number(document.getElementById("sd2").value);
  var sd3 = Number(document.getElementById("sd3").value);
  var stdd = document.getElementById('stex').value;
  var usrole = document.getElementById('userrole1').value;
  var pmc = document.getElementById('pop').value;

  if (stdd == "3" && pmc != "wait" && pmc != "prewait" && usrole == "assistant"&& sd1 <= 0)  {
    document.getElementById('exambutton').type = "submit";
}

  if (stdd == "3" && pmc == "wait" && usrole == "manager" && sd1 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
  if (stdd == "4"  && usrole == "assistant" && sd2 <= 0)  {
    document.getElementById('exambutton').type = "submit";
  }
  if (stdd == "4" && pmc == "wait" && usrole == "manager" && sd2 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
  if (stdd == "5" && usrole == "assistant" && sd3 <= 0)  {
    document.getElementById('exambutton').type = "submit";
  
  }
  if (stdd == "5" && pmc == "wait" && usrole == "manager" && sd3 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
 
</script> 

  {% endblock %}