<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <br>
    <div class="jumbotron">
    <center><h1>กิจกรรม</h1></center>
    <hr>
        
    <table id="customers">
        <tr>
        <th>ลำดับ</th>
        <th>ชื่ออีเวนท์</th>
        <th>รายละเอียด</th>
        <th>วันที่</th>
        <th>เวลา</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
        </tr>
        {% for result in row %}
        <tr>
        <td>{{result['row_num']}}</td>
        <td>{{result['ev_name']}}</td>
        <td>{{result['ev_detail']}}</td>
        <td>{{result['evdate']}}</td>
        <td>{{result['evtime']}} น.</td>
        <td><a href="/project/{{result['pj_id']}}/editevent/{{result['ev_id']}}" >แก้ไข</a></td>
        <td><a style="color:red" href="/project/{{result['pj_id']}}/EVENT/{{result['ev_phase']}}/{{result['ev_id']}}" onclick="return confirm('ยืนยันการลบ')">ลบ</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <center><a type="button" class="btn btn-primary btn-lg" href="addevente">เพิ่มกิจกรรม</a></center>
    </div>
    {% endblock %}