<doctype html>
  {% extends 'layout.html' %}
  
  {% block body %}
      <body>
      
      <div class="row">
        <p>
          <br><h1>ตรวจรับโครงการ</h1>
        </p>
        <div class="leftcolumn">
          <div class="card">
            <div class="row">
              <h align="right" >เลขสารบัญ {{row[id-1]['pj_refNumber']}}</h>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ชื่อโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[id-1]['pj_name']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ผู้รับผิดชอบโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{rows[id-1]['user_fullname']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>คณะกรรมการ</label>
                </div>
                <div class="col-75">
                  {% for result in row %}
                  <div class="row"><div class="col-75"><label>{{result['user_fullname']}}</label></div><div class="col-25"><label >{{result['role_name']}}</label></div></div>
                  {% endfor %}
                  <div align="Right"><a href="addboard" role="button"> เพิ่มกรรมการ</a></div>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>วันที่เริ่มโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[id-1]['startproject_date']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>งบประมาณ</label>
                </div>
                <div class="col-75">
                  <label>{{row[id-1]['pj_amount']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>รายละเอียด</label>
                </div>
                <div class="col-75">
                  <label>{{row[id-1]['pj_detail']}}
                </label>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-25">
                <label>วันที่ประกาศผลบริษัทผู้รับเหมา</label>
              </div>
              <div class="col-75">
                <label>{{row[id-1]['contt_date']}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label>บริษัทผู้รับเหมา</label>
              </div>
              <div class="col-75">
                <label>{{row[id-1]['contt_name']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>ค่ารับเหมา</label>
              </div>
              <div class="col-75">
                <label>{{row[id-1]['contt_fee']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>วันที่เริ่ม</label>
              </div>
              <div class="col-75">
                <label>{{row[id-1]['contt_start']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>วันที่สิ้นสุด</label>
              </div>
              <div class="col-75">
                <label>{{row[id-1]['contt_end']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>ระยะเวลาคงเหลือ</label>
                
              </div>
              <div class="col-75">
                <label>พันล้านปี</label>
              </div>
            </div>
            <a href="#" align="right"> แก้ไข</a>
          </div>
        </div>
        <div class="rightcolumn" style="background-color:#ffffff;">
          <div class="card">
            <center>
            <h1>สถานะ</h1>
            <progress id="file" value="{{row[id-1]['stex_percent']}}" max="100"></progress>    
            <br>
            <br>
            <label for="file">{{row[id-1]['stex_name']}}</label>
            </center>
          </div>
          <div class="card">
            <h3>Event</h3>
            <p>{{row[id-1]['ev_name']}}</p>
            <p>{{row[id-1]['ev_date']}}</p>
            <a align="right" href="event">ดูเพิ่มเติม</a>
          </div>
          <div class="card">
            <h3>การตรวจงาน</h3>
            <p>
              <a>งวดที่ {{dis[0]['ins_no']}}</a><br>
              <a>ประจำวันที่ {{dis[0]['ins_date']}}</a>
              <p>
                <a>รายละเอียด</a>
                <a>{{dis[0]['dis_detail']}}</a>
              </p>
            </p>
            <a align="right" href="check">ทั้งหมด</a>
          </div>
        </div>
      </div>
  {% endblock %}