<doctype html>
  {% extends 'layout.html' %}
  
  {% block body %}
  <head>
    <style>
    input[id="nstt"]{
      height: 35px;
      width: 110px;
      border: none;
      border-radius: 5px;
      color:black;
      background: transparent;
      text-align: center;  
    }
    input[id="nstt2"]{
      height: 35px;
      width: 210px;
      border: none;
      border-radius: 5px;
      color:black;
      background: transparent;
      text-align: center;  
    }
  </style>
  </head>
      
  <div class="row">
    <p>
      <br><h1>ตรวจรับโครงการ</h1>
      <div class="card-group">
        <div class="card">
          <div class="card-header">
            <center><h5>สถานะ</h5> </center>
          </div>
          <div class="card-body" align="center">
            <br>
            <br>
           
            <progress id="file" value="{{row[0]['stex_percent']}}" max="100"></progress>    
            <br>
            <label  id="sh" for="file">{{row[0]['stex_name']}}</label>
            <br>
            <p id="shw"></p>
            <p id="shw1"></p>
            <form action="/project/{{row[0]['pj_id']}}/examinex" method="post">
              <input name="std" id="stex" value="{{row[0]['stex_id']}}" type="hidden">
              <input name="PMC" id="pop" value="{{row[0]['PMcheck']}}" type="hidden">
              <br><br>
            
              <input name="userrole" id="userrole1" value="{{role['role']}}" type="hidden">
          </div>
        </div>
        <p></p>
        <div class="card" id="divd" style="margin-left:5px;">
          <div class="card-header" align="center">
            <h5>การตรวจงาน</h5>
          </div>
          <div class="card-body">
            <div class="newspaper">
              {% for row in dis %}
              <a>งวดที่ :</a>
              <a id="c1">{{row['ins_no']}}</a><br>
              <a>ประจำวันที่ :</a><br>
              <a id="c2">{{row['checkdate']}}</a><br>
              <a>รายละเอียด :</a><br>
              <a id="c3">{{row['check_detail']}}</a><br>
              <a>ยอดเบิกจ่าย :</a>
              <a id="c4">{{row['ins_amount']}}</a><br>
              <a>%การเบิกจ่าย :</a>
              <a id="c5">{{row['ff']}}</a><br>
                {% endfor %}
          </div> 
      
      </div>
        </div>
      </div>
    </p>
      <div class="leftcolumn">
        <div class="card">
          <div class="card-body">
            <h5>รายละเอียดโครงการ</h5><hr>
              <div class="row">
                <div class="col-25">
                  <label>เลขสารบัญ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_refNumber']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ชื่อโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_name']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>ผู้รับผิดชอบโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{rows[0]['user_fullname']}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>คณะกรรมการ</label>
                </div>
                <div class="col-75">
                  {% for result in row %}
                  <div class="row">
                    <div class="col-50">
                      <label id="fname">{{result['user_fullname']}}</label>
                    </div>
                    <div class="col-25">
                      <label  id="rname">{{result['role_name']}}</label>
                    </div>
                  </div>
                  {% endfor %}
                  <input id="user" value="{{row['user_fullname']}}" type="hidden">
               
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>รายละเอียดโครงการ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_detail']}} บาท</label>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>งบประมาณ</label>
                </div>
                <div class="col-75">
                  <label>{{row[0]['pj_financeAmount']}} บาท</label>
                </div>
              </div>
        </div>
        </div>
        
        <div class="card" style="margin-top: 8px;">
          <div class="card-body">
            <h5>ข้อมูลบริษัท</h5><hr>
            <div class="row">
              <div class="col-25">
                <label>บริษัทผู้รับเหมา</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_name']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>อีเมล</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_email']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>เบอร์โทรศัพท์</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_tel']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>วันที่ประกาศผล</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['conttdate']}}</label>
              </div>
            </div><div class="row">
              <div class="col-25">
                <label>เงินที่บริษัทขอมา</label>
              </div>
              <div class="col-75">
                <label>{{row[0]['contt_fin']}} บาท</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rightcolumn" style="background-color:#ffffff;">
        <div class="card">
          <div class="card-header" align="center">
            <h5>ติดตามการตรวจรับ</h5>
          </div>
          <div class="card-body" align="center">
            <p>งวดที่ 1</p>
            <p id="con1"></p>
            <hr>
            <p>งวดที่ 2</p>
            <p id="con2"></p>
            <hr>
            <p>งวดที่ 3</p>
            <p id="con3"></p>
            <hr>
            <p id="con4"></p>
          </div>  
        </div>
        <br>
        <div class="card">
          <div class="card-header" align="center">
            <h5>การนัดหมาย</h5>
          </div>
          <div class="card-body" align="center">
            <p id="evn">{{ev[0]['ev_name']}}</p>
            <p id="evd">วันที่ {{ev[0]['evdate']}}</p>
            <p id="evt">เวลา {{ev[0]['evtime']}} น.</p>
            <a align="right" href="examineEvent">ดูเพิ่มเติม</a>
          </div>  
        </div>
        <div class="card" style="margin-top: 5px;">
          <div class="card-body">
            <a align="center" href="doc/3">เอกสารโครงการ</a>
          </div>
        </div>
      </div>

  </div>
  <br>
  <a class="btn btn-primary btn-lg" type="button" href="/project/{{row[0]['pj_id']}}">ย้อนกลับ</a>


  
<script>
  var c1 = document.getElementById("c1").innerHTML;
  var c2 = document.getElementById("c2").innerHTML;
  var c3 = document.getElementById("c3").innerHTML;
  var c4 = document.getElementById("c4").innerHTML;
  var c5 = document.getElementById("c5").innerHTML;
  if (c1 == "None"){
    document.getElementById("c1").innerHTML = "-";
    document.getElementById("c2").innerHTML = "-";
    document.getElementById("c3").innerHTML = "-";
    document.getElementById("c4").innerHTML = "-";
    document.getElementById("c5").innerHTML = "-";

  }
</script>

<script>
  var fname = document.getElementById("fname").innerHTML;
  var rname = document.getElementById("rname").innerHTML;
  if (fname == "None" && rname == "None" ){
    document.getElementById("fname").innerHTML = "-";
    document.getElementById("rname").innerHTML = "-";
  }
</script>

<script>
  var pd = document.getElementById("pd").innerHTML;
  if(pd = 'none'){
    document.getElementById("pd").innerHTML = "-";}
</script>


<script>
  var stdd = document.getElementById('stex').value;
  var usrole = document.getElementById('userrole1').value;
  var pmc = document.getElementById('pop').value;

  if (stdd == "3" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 1";
}
  if (stdd == "3" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 1";
    document.getElementById('con1').style.background = "gray";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "100%";
    document.getElementById('con1').style.marginTop = "20px";
  }
 
  if (stdd == "4" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 2";
}
  if (stdd == "4" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 2";
    document.getElementById('con2').style.background = "gray";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "100%";
    document.getElementById('con2').style.marginTop = "20px";
  }

  if (stdd == "5" && pmc != "wait" && pmc != "prewait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "อยู่ในช่วงเบิกจ่ายงวดที่ 3";
}
  if (stdd == "5" && pmc == "wait" )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "ตรวจสอบการเบิกจ่ายงวดที่ 3";
    document.getElementById('con3').style.background = "gray";
    document.getElementById('con3').style.color = "white";
    document.getElementById('con3').style.width = "100%";
    document.getElementById('con3').style.marginTop = "20px";
  }
  if (stdd == "6"  )  {
    document.getElementById('con1').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con1').style.background = "green";
    document.getElementById('con1').style.color = "white";
    document.getElementById('con1').style.width = "50%";
    document.getElementById('con1').style.marginTop = "20px";
    document.getElementById('con2').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con2').style.background = "green";
    document.getElementById('con2').style.color = "white";
    document.getElementById('con2').style.width = "50%";
    document.getElementById('con2').style.marginTop = "20px";
    document.getElementById('con3').innerHTML  = "เบิกจ่ายสำเร็จ";
    document.getElementById('con3').style.background = "green";
    document.getElementById('con3').style.color = "white";
    document.getElementById('con3').style.width = "50%";
    document.getElementById('con3').style.marginTop = "20px";
  }
   
</script>  

  <script>
    var stex = document.getElementById('stex').value;
    var userrole = document.getElementById('userrole1').value;
    if (stex != "1"  && userrole == "manager") {
    document.getElementById('bea').style.display= "none";
    document.getElementById('bee').style.display= "none";
    }
    else if (stex == "2" && stex != "1" &&  userrole == "assistant"){
    document.getElementById('bee').style.display= "block";
    document.getElementById('bea').style.display= "none";
    }
    else if (stex == "1"  && userrole == "manager"){
    document.getElementById('bee').style.display= "none";
    document.getElementById('bea').style.display= "block";
   }
   else{
    document.getElementById('bea').style.display= "none";
    document.getElementById('bee').style.display= "none";
   }
    
  

    
    </script> 

  <script>
    var userrole = document.getElementById('userrole1').value;
    var stex = document.getElementById('stex').value;
    if (userrole == "manager") {
    document.getElementById('ea').style.display= "none";
    }
    else if (userrole == "assistant" && stex == 2 || stex == 1 ){
    document.getElementById('ea').style.display= "block";
    }
    else{
    document.getElementById('ea').style.display= "none";
    }
  </script> 
 
 
 <script>
      var sd1 = Number(document.getElementById("sd1").value);
      var sd2 = Number(document.getElementById("sd2").value);
      var sd3 = Number(document.getElementById("sd3").value);
      var stex = Number(document.getElementById("stex").value);
      var usrole = document.getElementById('userrole1').value;
      if(sd1 == 7 && stex == 3){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 == 7 && stex == 4){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 == 7 && stex == 5){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 7 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 == 3 && stex == 3 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 == 3 && stex == 4 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 == 3 && stex == 5 ){
        document.getElementById('shwoone').innerHTML  = "เหลือเวลา 3 วัน";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 <0 && stex == 3 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่1 มา"+Math.abs(sd1)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
        }
      if(sd2 <0 && stex == 4 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่2 มา"+Math.abs(sd2)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd3 <0 && stex == 5 && usrole == 'assistant'){
        document.getElementById('shwoone').innerHTML  = "**เลยวันส่งงวดที่3 มา"+Math.abs(sd3)+" วัน**";
        document.getElementById('shwoone').style.background = "red";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "50%";
        document.getElementById('shwoone').style.marginTop = "20px";
      }
      if(sd1 == 0 && stex == 3 ){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่1";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
        }
      else if(sd2 == 0 && stex == 4 ){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่2";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
      }
      else if(sd3 == 0 && stex == 5){
        document.getElementById('shwoone').innerHTML  = "วันส่งงวดที่3;";
        document.getElementById('shwoone').style.background = "green";
        document.getElementById('shwoone').style.color = "white";
        document.getElementById('shwoone').style.width = "30%";
        document.getElementById('shwoone').style.marginTop = "10px";
        document.getElementById('exambutton').type = "submit";
      }
</script>   
<script>
  var cev1 = document.getElementById('cev1').value;
  if (cev1 == "none") {
    document.getElementById("cev1").innerHTML = "-";
    document.getElementById("cev2").innerHTML = "-";
    document.getElementById("cev3").innerHTML = "-";
  }
</script>
<script>
  var check = Number(document.getElementById("check").value);
  var userrole = document.getElementById('userrole1').value;
  var stex = document.getElementById('stex').value;
  if (check == "-" ||check == "None") {
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "manager" ){
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "assistant" && stex == 2 ){
  document.getElementById('addcheck').style.display= "block";
  document.getElementById('editcheck').style.display= "none";
  }
  else if (userrole == "assistant" && stex != 2  && stex != 1 ){
  document.getElementById('addcheck').style.display= "none";
  document.getElementById('editcheck').style.display= "block";
  }
</script> 
<script>
  var sd1 = Number(document.getElementById("sd1").value);
  var sd2 = Number(document.getElementById("sd2").value);
  var sd3 = Number(document.getElementById("sd3").value);
  var stdd = document.getElementById('stex').value;
  var usrole = document.getElementById('userrole1').value;
  var pmc = document.getElementById('pop').value;

  if (stdd == "3" && pmc != "wait" && pmc != "prewait" && usrole == "assistant"&& sd1 <= 0)  {
    document.getElementById('exambutton').type = "submit";
}

  if (stdd == "3" && pmc == "wait" && usrole == "manager" && sd1 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
  if (stdd == "4"  && usrole == "assistant" && sd2 <= 0)  {
    document.getElementById('exambutton').type = "submit";
  }
  if (stdd == "4" && pmc == "wait" && usrole == "manager" && sd2 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
  if (stdd == "5" && usrole == "assistant" && sd3 <= 0)  {
    document.getElementById('exambutton').type = "submit";
  
  }
  if (stdd == "5" && pmc == "wait" && usrole == "manager" && sd3 <= 0)  {
    document.getElementById('exambutton').type = "submit";
    document.getElementById('exambutton').innerHTML  = "อนุมัติ";
  }
 
</script> 

  {% endblock %}
