<doctype html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      {% extends 'layout.html' %}
      {% block body %}
      <div class="container mt-3">
        <div id="child1">
          <a>ค้นหาโครงการ</a>
          <form action="/">
              <input type="text" class="btn btn-outline-dark" placeholder="Search.." name="search">
              <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <div class="jumbotron">
            <div class="container mt-3">
              <h2>Responsive Table</h2>
              <p>The .table-responsive class adds a scrollbar to the table when needed:</p>
              
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ลำดับ</th>
                      <th>ชื่อโครงการ</th>
                      <th>ประเภทงาน</th>
                      <th>วันที่ร่างประกาศ</th>
                      <th>รายละเอียด</th>
                      <th>ประจำปีงบประมาณ</th>
                      <th>วงเงินงบประมาณ</th>
                      <th>สถาณะโครงการ</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                      <th>Example</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Anna</td>
                      <td>Pitt</td>
                      <td>35</td>
                      <td>New York</td>
                      <td>USA</td>
                      <td>Female</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        
        <center>
        
        <a class="btn btn-primary btn-lg" href="addproject" role="button">เพิ่มโครงการใหม่</a>
        <a class="btn btn-primary btn-lg" href="consider" role="button"> consider</a>
        <a class="btn btn-primary btn-lg" href="login" role="button"> login</a>
        <a class="btn btn-primary btn-lg" href="กรรมการ" role="button"> กรรมการ</a>
      </center>
        </center>
      {% endblock %}