<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <title>NSM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    {% include 'includes/_navbar.html' %}

    <main role="main" class="container">
      <div class="container">
        <div class="starter-template">
          {% block body %}
          {% endblock %}
        </div>
      </div>


    </main><!-- /.container -->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

        <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    

    <script>
      $("#single").select2({
          placeholder: "ชื่อ-นามสกุล",
          allowClear: true
      });
    </script>

    <script>
      $(document).ready( function () {
          $('#table_id').DataTable();
            } );
    </script>
    <script>
      $(document).ready( function () {
          $('#table_id').DataTable();
            } );
    </script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
      $('#timepicker').timepicker({
          showMeridian: false,
          showInputs: true
      });
  });
</script>

<script>
  var stdd = document.getElementById('std').value;
  if (stdd == "5") {
    document.getElementById('appbotton').value = "อนุมัติ";
    document.getElementById('appbotton2').value = "ไม่อนุมัติ";
    document.getElementById('appbotton2').type = "submit";
    document.getElementById('appbotton2').style.color = "white";
    document.getElementById('appbotton2').style.background = "#2E4778";
  }
  else if (stdd == "6") {
    document.getElementById('appbotton').type = "hidden";
    document.getElementById('nstt').type = "hidden";
    document.getElementById('nstt2').type = "hidden";  
  }
</script>

<script>
  var stcc = document.getElementById('stc').value;
  if (stcc == "6") {
    document.getElementById('appbottonc').type = "hidden";
    document.getElementById('nstt').type = "hidden";
    document.getElementById('nstt2').type = "hidden";
  }
</script>

<script>
  var stee = document.getElementById('ste').value;
  if (stee == "4") {
    document.getElementById('appbottone').type = "hidden";
    document.getElementById('nstt').type = "hidden";
    document.getElementById('nstt2').type = "hidden";
  }
</script>

<script> 
  var dif = Number(document.getElementById('diff').value);
  var dst = document.getElementById('appr').value;
  document.getElementById('sta').style.color = "black";
  document.getElementById('day').style.color = "black";
  if (document.getElementById('diff').value == "None") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
  }
  if (dst == "yes") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "ผ่านการอนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "green";
  }
  else if (dst == "no") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "ไม่ผ่านการอนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "red";
  }
  else if (dif < 0) {
    document.getElementById('sta').value = "เกินกำหนด";
    document.getElementById('diff').value = Math.abs(dif);
    document.getElementById('diff').style.color = "white";
    document.getElementById('diff').style.background = "red";
  }
  else if (dif < 10 && dif >= 0) {
    document.getElementById('diff').style.color = "white";
    document.getElementById('diff').style.background = "red";
  }
  else if (dif >= 10 && dif < 15) {
    document.getElementById('diff').style.color = "red";
  document.getElementById('diff').style.background = "gold";
  }
  else if (dif >= 15){
    document.getElementById('diff').style.color = "white";
  document.getElementById('diff').style.background = "green";
  }
  
  </script>
  
  <script>
    // Get the modal
    var modal = document.getElementById("modall");
    var span = document.getElementsByClassName("close")[0];
    var dif = Number(document.getElementById('mdiff').value);
    document.getElementById('msta').style.color = "white";
    document.getElementById('mday').style.color = "white";
    if (dif < 0) {
    document.getElementById('msta').value = "ระยะเวลาร่างเกินกำหนด";
    document.getElementById('mdiff').value = Math.abs(dif);
    document.getElementById('mdiff').style.color = "white";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif < 10 && dif >= 0) {
    document.getElementById('mdiff').style.color = "white";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif >= 10 && dif < 15) {
    document.getElementById('msta').style.color = "red";
    document.getElementById('mdiff').style.color = "red";
    document.getElementById('mday').style.color = "red";
    document.getElementById('clo').style.color = "red";
    document.getElementById('modall-con').style.background = "gold";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif >= 15){
      window.onload = function() {
      modal.style.display = "none";
    }
    }
    </script>
    <script>
    var cid = Number(document.getElementById("conttid").value);
    if (cid > 0) {
    document.getElementById('addcontt').style.display= "none";
    }
    else {
    document.getElementById('editcontt').style.display= "none";
    }
    </script> 

    <script>
    var evn = document.getElementById("evn").innerHTML;
    var evd = document.getElementById("evd").innerHTML;
    var evt = document.getElementById("evt").innerHTML;
    if (evn == "None"){
      document.getElementById("evn").innerHTML = "-";
    }
    if (evd == "วันที่ None"){
      document.getElementById("evd").innerHTML = "วันที่ -";
    }
    if (evt == "เวลา None น."){
      document.getElementById("evt").innerHTML = "เวลา - น.";
    }
    </script>
    <script>
      var usf = document.getElementById("usf").innerHTML;
      var usr = document.getElementById("usr").innerHTML;
      if (usf == "None"){
        document.getElementById("usf").innerHTML = "-";
      }
      if (usr == "None"){
        document.getElementById("usr").innerHTML = "-";
      }
      </script>
    <script>
      var dstart = document.getElementById("dstart").innerHTML;
      var dend = document.getElementById("dend").innerHTML;
      if (dstart == "วันที่ None"){
        document.getElementById("dstart").innerHTML = "วันที่ -";
      }
      if (dend == "วันที่ None"){
        document.getElementById("dend").innerHTML = "วันที่ -";
      }
    </script>
    
    <!-- หน้าเพิ่มคณะกรรมการ -->
    <script>
      var usft = document.getElementById("usft").innerHTML;
      var usrt = document.getElementById("usrt").innerHTML;
      var cmng = document.getElementById("cmng").value;
      var cboa = Number(document.getElementById("cboa").value);
      var cas = document.getElementById("cas").value;
      if (usft == "None"){
        document.getElementById("usft").style.display = "none";
        document.getElementById("usrt").style.display = "none";
        document.getElementById("dlt").style.display = "none";
      }
      if (cmng == "1"){
        $("#rid option[value='1']").hide();
      }
      if (cas == "1"){
        $("#rid option[value='3']").hide();
      }
      if(cboa % 2 == 0) {
        document.getElementById("finil").href = "#";
        document.getElementById("fini").onclick = function() {unfinished()};
      }
      if (cmng == "0" || cas == "0" || cboa < 3){
        document.getElementById("finil").href = "#";
        document.getElementById("fini").onclick = function() {unfinishedAll()};
      }
      function unfinished() {
        alert("จำนวนกรรมการต้องเป็นจำนวนคี่")
      }
      function unfinishedAll() {
        alert("คณะกรรมการยังไม่ครบ")
      }
      </script>

      <!-- หน้าอีเว้นท์ -->
      <script>
      var evnt = document.getElementById("evnt").innerHTML;
      if (evnt == "None"){
        document.getElementById("rnt").style.display = "none";
        document.getElementById("evnt").style.display = "none";
        document.getElementById("evet").style.display = "none";
        document.getElementById("evdt").style.display = "none";
        document.getElementById("evtt").style.display = "none";
        document.getElementById("evedt").style.display = "none";
        document.getElementById("evdlt").style.display = "none";
      }
      </script>
  </body>
</html>