<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>NSM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    {% include 'includes/_navbar.html' %}

    <main role="main" class="container">
      <div class="container">
        <div class="starter-template">
          {% block body %}
          {% endblock %}
        </div>
      </div>


    </main>

    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    

    <script>
      $("#single").select2({
          placeholder: "ชื่อ-นามสกุล",
          allowClear: true
      });
    </script>

    <script>
      $(document).ready( function () {
          $('#table_id').DataTable();
            } );
    </script>
    <script>
      $(document).ready( function () {
          $('#table_id').DataTable();
            } );
    </script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
      $('#timepicker').timepicker({
          showMeridian: false,
          showInputs: true
      });
  });
</script>

<script>
var usrole = document.getElementById('userrole').value;
if (usrole != "manager")  {
      document.getElementById('closepj').type = "hidden";
    }
</script>

<script>
  var stdd = document.getElementById('std').value;
  var usrole = document.getElementById('userrole').value;
  var pmc = document.getElementById('PMC').value;
  
  if (stdd == "2" && pmc != "wait" && pmc != "prewait" && usrole == "assistant")  {
    document.getElementById('stdr').type = "date";
    document.getElementById('dayform').style.display = "block";
    document.getElementById('appbotton').type = "submit";
  }document.getElementById('PMC').value
  if (stdd == "2" && pmc == "prewait" && usrole == "assistant")  {
    document.getElementById('appbotton').value = "เสร็จสิ้น";
    document.getElementById('appbotton').type = "submit";
  }
  if (stdd == "2" && pmc == "wait" && usrole == "manager")  {
    document.getElementById('appbotton').type = "submit";
  }
  if (stdd == "3" && pmc != "wait" && usrole == "assistant") {
    document.getElementById('appbotton').value = "อนุมัติ";
    document.getElementById('appbotton2').value = "ไม่อนุมัติ";
    document.getElementById('appbotton').type = "submit";
    document.getElementById('appbotton2').type = "submit";
    document.getElementById('appbotton2').style.color = "white";
    document.getElementById('appbotton2').style.background = "#2E4778";
  }
  if (stdd == "3" && pmc == "wait" && usrole == "manager")  {
    document.getElementById('appbotton').type = "submit";
  }
  if (stdd == "4" && pmc == "yes" && usrole == "assistant")  {
    document.getElementById('appbotton').type = "submit";
    document.getElementById('appbotton').value = "ส่งกอง พส. ดำเนินการ";
  }
  
  
</script>

<script>
  var stdd = Number(document.getElementById('std').value);
  var usrole = document.getElementById('userrole').value;
  if (stdd == 1 && usrole == "manager")  {
      document.getElementById('addboardd').innerHTML = "เพิ่มรายชื่อคณะกรรมการ";
    }
  if (stdd > 1 && usrole == "manager")  {
      document.getElementById('addboardd').innerHTML = "";
    }
  if ( usrole == "manager")  {
    document.getElementById('editpj').innerHTML = "";
    }
</script>

<script>
  var usrole = document.getElementById('userrole').value;
  var stcc = Number(document.getElementById('stc').value);
  var cpmc = document.getElementById('CPMC').value;
  var condif = Number(document.getElementById('condif').value);
  if (stcc == 2 && cpmc != "wait" && usrole == "assistant") {
    document.getElementById('addctt').innerHTML = "รอผู้รับผิดชอบโครงการกรอกวันที่";
    document.getElementById('addctt').style.color = "gray";
  }
  if (stcc == 2 && cpmc == "wait" && usrole == "manager") {
    document.getElementById('addctt').innerHTML = "รอเลขาธิการกรอกวันที่";
    document.getElementById('addctt').style.color = "gray";
  }
  if (stcc == 2 && cpmc != "wait" && usrole == "manager") {
    document.getElementById('openf').style.display = "block";
    document.getElementById('buyd').style.display = "block";
    document.getElementById('buy_date').type = "date";
    document.getElementById('invited').style.display = "block";
    document.getElementById('invite_date').type = "date";
    document.getElementById('propd').style.display = "block";
    document.getElementById('prop_date').type = "date";
  }
  if (stcc == 2 && cpmc == "wait" && usrole == "assistant") {
    document.getElementById('openf').style.display = "block";
    document.getElementById('finishcond').style.display = "block";
    document.getElementById('finishcon_date').type = "date";
    document.getElementById('noinfo').style.display = "none";
  }
  if (stcc == 3 && cpmc != "wait" && usrole == "assistant") {
    document.getElementById('appbottonc').type = "submit";
    document.getElementById('appbottonc').value = "พิจารณาผลเสร็จ";
  }
  if (stcc == 3 && cpmc == "wait" && usrole == "manager") {
    document.getElementById('appbottonc').type = "submit";
  }
  if (stcc == 4 && usrole == "assistant") {
    document.getElementById('openf').style.display = "block";
    document.getElementById('reportd').style.display = "block";
    document.getElementById('report_date').type = "date";
    document.getElementById('noinfo').style.display = "none";
    document.getElementById('formbutton').innerHTML = "กรอกวันและเวลาที่ส่งรายงานผล";
    document.getElementById('reptime').style.display = "block";
  }
  if (stcc == 5 && cpmc != "wait" && usrole == "assistant") {
    document.getElementById('openf').style.display = "block";
    document.getElementById('winnerd').style.display = "block";
    document.getElementById('winner_date').type = "date";
    document.getElementById('noinfo').style.display = "none";
  }
  if (stcc == 6 && cpmc != "wait" && usrole == "assistant") {
    document.getElementById('appbottonc').type = "submit";
    document.getElementById('appbottonc').value = "พ้นอุทธรณ์";
    document.getElementById('appbottonc2').type = "submit";
  }
  
  if (stcc == 6 && cpmc == "wait" && usrole == "manager") {
    document.getElementById('appbottonc').type = "submit";
  }
  function handleChange(checkbox) {
    if(checkbox.checked == true){
      document.getElementById('buyd').style.display = "none";
      document.getElementById('buy_date').type = "hidden";
      document.getElementById('invited').style.display = "none";
      document.getElementById('invite_date').type = "hidden";
      document.getElementById('propd').style.display = "none";
      document.getElementById('prop_date').type = "hidden";
    }else{
      document.getElementById('buyd').style.display = "block";
      document.getElementById('buy_date').type = "date";
      document.getElementById('invited').style.display = "block";
      document.getElementById('invite_date').type = "date";
      document.getElementById('propd').style.display = "block";
      document.getElementById('prop_date').type = "date";
      document.getElementById('checkboxdate').value = "1";
   }
}
</script>

<script>
  var stcc = Number(document.getElementById('stc').value);
  var usrole = document.getElementById('userrole').value;
  var windif = Number(document.getElementById('windif').value);
  var cid = Number(document.getElementById("conttid").value);
  if (stcc == 1 && usrole == "manager")  {
      document.getElementById('addboardc').innerHTML = "เพิ่มรายชื่อคณะกรรมการ";
    }
  if (stcc > 1 && usrole == "manager")  {
      document.getElementById('addboardc').innerHTML = "";
    }
  if (usrole == "manager")  {
    document.getElementById('editpj').innerHTML = "";
 
    }
  if (stcc == 5 && windif <= 0 && usrole == "assistant")  {
    document.getElementById('addctt').innerHTML = "**โปรดเพิ่มบริษัทที่ชนะ**";
    document.getElementById('addcontt').innerHTML = "เพิ่ม";
    document.getElementById('editcontt').innerHTML = "แก้ไข";
    if (cid > 0) {
    document.getElementById('addcontt').style.display= "none";
    }
    else {
    document.getElementById('editcontt').style.display= "none";
    }
    }
  if (stcc == 5 && windif <= 0 && usrole == "manager")  {
    document.getElementById('addctt').innerHTML = "รอเลขาธิการเพิ่มบริษัทผู้ชนะ";
    document.getElementById('addctt').style.color = "gray";
    }
</script>

<script>
  var stee = document.getElementById('ste').value;
  if (stee == "4") {
    document.getElementById('appbottone').type = "hidden";
    document.getElementById('nstt').type = "hidden";
    document.getElementById('nstt2').type = "hidden";
  }
</script>

<script> 
  var dif = Number(document.getElementById('diff').value);
  var dst = document.getElementById('appr').value;
  var pmc = document.getElementById('PMC').value;
  document.getElementById('sta').style.color = "black";
  document.getElementById('day').style.color = "black";
  if (document.getElementById('std').value == "2" && pmc == "wait" ) {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "เสร็จสิ้น";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "green";
  }
  if (document.getElementById('std').value == "3" && pmc != "wait" ) {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "อยู่ระหว่างการขออนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('status').style.width = "190";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "gray";
  }
  else if (dst == "yes" && pmc == "wait") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "รอยืนยันการอนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "gray";
  }
  else if (dst == "yes" && pmc == "yes") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "ผ่านการอนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "green";
  }
  else if (dst == "no" && pmc == "wait") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "รอยืนยันการไม่อนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('status').style.width = "170";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "gray";
  }
  else if (dst == "no" && pmc == "no") {
    document.getElementById('sta').type = "hidden";
    document.getElementById('diff').type = "hidden";
    document.getElementById('day').type = "hidden";
    document.getElementById('status').type = "text";
    document.getElementById('status').value = "ไม่ผ่านการอนุมัติ";
    document.getElementById('status').style.color = "white";
    document.getElementById('diff').style.background = "transparent";
    document.getElementById('status').style.background = "red";
  }
  else if (dif < 0) {
    document.getElementById('sta').value = "เกินกำหนด";
    document.getElementById('diff').value = Math.abs(dif);
    document.getElementById('diff').style.color = "white";
    document.getElementById('diff').style.background = "red";
  }
  else if (dif < 10 && dif >= 0) {
    document.getElementById('diff').style.color = "white";
    document.getElementById('diff').style.background = "red";
  }
  else if (dif >= 10 && dif < 15) {
    document.getElementById('diff').style.color = "red";
  document.getElementById('diff').style.background = "gold";
  }
  else if (dif >= 15){
    document.getElementById('diff').style.color = "white";
  document.getElementById('diff').style.background = "green";
  }
  else if (dif >= 30){
    document.getElementById('diff').style.color = "white";
    document.getElementById('diff').style.background = "green";
    document.getElementById('diff').value = 30;
  }
  if (document.getElementById('diff').value == "None"){
  document.getElementById('sta').type = "hidden";
  document.getElementById('diff').type = "hidden";
  document.getElementById('day').type = "hidden";
  }
  </script>
  
  <script>
    var modal = document.getElementById("modall");
    var span = document.getElementsByClassName("close")[0];
    var dif = Number(document.getElementById('mdiff').value);
    var stdd = document.getElementById('std').value;
    var pmc = document.getElementById('PMC').value;
    document.getElementById('msta').style.color = "white";
    document.getElementById('mday').style.color = "white";
    if (dif < 0 && stdd == '2' && pmc != 'wait') {
    document.getElementById('msta').value = "ระยะเวลาร่างเกินกำหนด";
    document.getElementById('mdiff').value = Math.abs(dif);
    document.getElementById('mdiff').style.color = "white";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif < 10 && dif >= 0 && stdd == '2' && pmc != 'wait') {
    document.getElementById('mdiff').style.color = "white";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif >= 10 && dif < 15 && stdd == '2' && pmc != 'wait') {
    document.getElementById('msta').style.color = "red";
    document.getElementById('mdiff').style.color = "red";
    document.getElementById('mday').style.color = "red";
    document.getElementById('clo').style.color = "red";
    document.getElementById('modall-con').style.background = "gold";
    window.onload = function() {
      modal.style.display = "block";
    }
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    }
    else if (dif >= 15){
      window.onload = function() {
      modal.style.display = "none";
    }
    }
    </script>

<script>
  var stcc = Number(document.getElementById('stc').value);
  var cpmc = document.getElementById('CPMC').value;
  var conapp = document.getElementById('conapp').value;
  var difc = Number(document.getElementById('mdiffc').value);
  if (stcc == 1){
    document.getElementById('statuscon').value = "รอกำหนดคณะกรรมการ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "35%";
  }
  if (stcc == 2 && cpmc != "wait"){
    document.getElementById('statuscon').value = "รอดำเนินการ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "20%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 2 && cpmc == "wait"){
    document.getElementById('statuscon').value = "รอดำเนินการ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "20%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 3 && cpmc != "wait"){
    document.getElementById('statuscon').value = "กำลังพิจารณาผล";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "30%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 3 && cpmc == "wait"){
    document.getElementById('statuscon').value = "พิจารณาผลเสร็จสิ้น";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "green";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "30%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 4 && cpmc != "wait"){
    document.getElementById('statuscon').value = "รอรายงานผล";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "30%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 5 && cpmc != "wait"){
    document.getElementById('statuscon').value = "กำลังกำหนดวันประกาศผู้ชนะ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "40%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 5 && windif > 0 && cpmc == "wait"){
    document.getElementById('winsta').type = "text";
    document.getElementById('windiff').type = "text";
    document.getElementById('winday').type = "text";
  }
  if (stcc == 5 && windif <= 0 && cpmc == "wait"){
    document.getElementById('statuscon').value = "รอกำหนดบริษัทผู้ชนะ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "40%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 6 && conapp != "yes" && conapp != "no" && cpmc != "wait"){
    document.getElementById('consta').type = "text";
    document.getElementById('condif').type = "text";
    document.getElementById('conday').type = "text";
  }
  if (stcc == 6 && conapp == "yes" && cpmc == "wait"){
    document.getElementById('statuscon').value = "รอยืนยันการพ้นอุทธรณ์";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "35%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 6 && conapp == "no" && cpmc == "wait"){
    document.getElementById('statuscon').value = "รอยืนยันการมีอุทธรณ์";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "gray";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "35%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 6 && conapp == "no" && cpmc == "no"){
    document.getElementById('statuscon').value = "ยุติโครงการ";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "red";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "20%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
  if (stcc == 7 && conapp == "yes" && cpmc == "yes"){
    document.getElementById('statuscon').value = "เสร็จสิ้น";
    document.getElementById('statuscon').type = "text";
    document.getElementById('statuscon').style.background = "green";
    document.getElementById('statuscon').style.color = "white";
    document.getElementById('statuscon').style.width = "15%";
    document.getElementById('statuscon').style.marginTop = "20px";
  }
</script>

<script>
  var modalc = document.getElementById("modallc");
  var span = document.getElementsByClassName("close")[0];
  var difc = Number(document.getElementById('mdiffc').value);
  var stcc = Number(document.getElementById('stc').value);
  var cpmc = document.getElementById('CPMC').value;
  document.getElementById('mstac').style.color = "black";
  document.getElementById('mdiffc').style.color = "black";
  document.getElementById('mdayc').style.color = "black";
  if (difc <= 3 && difc > 0 && stcc == 5 && cpmc == 'wait') {
  document.getElementById('mstac').value = "จะประกาศผู้ชนะในอีก";
  document.getElementById('mdiffc').value = Math.abs(difc);
  window.onload = function() {
    modallc.style.display = "block";
  }
  
  span.onclick = function() {
    modallc.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modallc) {
      modallc.style.display = "none";
    }
  }
  }
  else if (difc >= 4){
    window.onload = function() {
    modal.style.display = "none";
  }
  }
  </script>

    <script>
    var evn = document.getElementById("evn").innerHTML;
    var evd = document.getElementById("evd").innerHTML;
    var evt = document.getElementById("evt").innerHTML;
    if (evn == "None"){
      document.getElementById("evn").innerHTML = "-";
    }
    if (evd == "วันที่ None"){
      document.getElementById("evd").innerHTML = "วันที่ -";
    }
    if (evt == "เวลา None น."){
      document.getElementById("evt").innerHTML = "เวลา - น.";
    }
    </script>
    <script>
      var usf = document.getElementById("usf").innerHTML;
      var usr = document.getElementById("usr").innerHTML;
      if (usf == "None"){
        document.getElementById("usf").innerHTML = "-";
      }
      if (usr == "None"){
        document.getElementById("usr").innerHTML = "-";
      }
      </script>
    <script>
      var dstart = document.getElementById("dstart").innerHTML;
      var dend = document.getElementById("dend").innerHTML;
      if (dstart == "วันที่ None"){
        document.getElementById("dstart").innerHTML = "วันที่ -";
      }
      if (dend == "วันที่ None"){
        document.getElementById("dend").innerHTML = "วันที่ -";
      }
    </script>
    
    <!-- หน้าเพิ่มคณะกรรมการ -->
    <script>
      var usft = document.getElementById("usft").innerHTML;
      var usrt = document.getElementById("usrt").innerHTML;
      var cmng = document.getElementById("cmng").value;
      var cboa = Number(document.getElementById("cboa").value);
      var cas = document.getElementById("cas").value;
      if (usft == "None"){
        document.getElementById("usft").style.display = "none";
        document.getElementById("usrt").style.display = "none";
        document.getElementById("dlt").style.display = "none";
      }
      if (cmng == "1"){
        $("#rid option[value='1']").hide();
      }
      if (cas == "1"){
        $("#rid option[value='3']").hide();
      }
      if(cboa % 2 == 0) {
        document.getElementById("finil").href = "#";
        document.getElementById("fini").onclick = function() {unfinished()};
      }
      if (cmng == "0" || cas == "0" || cboa < 3){
        document.getElementById("finil").href = "#";
        document.getElementById("fini").onclick = function() {unfinishedAll()};
      }
      else if (document.getElementById("PMR").value == "PM" ){
        document.getElementById("finished").type = "submit";
        document.getElementById("fini").type = "hidden";
      }
      function unfinished() {
        alert("จำนวนกรรมการต้องเป็นจำนวนคี่")
      }
      function unfinishedAll() {
        alert("คณะกรรมการยังไม่ครบ")
      }
      </script>


      <!-- หน้าอีเว้นท์ -->
      <script>
      var evnt = document.getElementById("evnt").innerHTML;
      if (evnt == "None"){
        document.getElementById("rnt").style.display = "none";
        document.getElementById("evnt").style.display = "none";
        document.getElementById("evet").style.display = "none";
        document.getElementById("evdt").style.display = "none";
        document.getElementById("evtt").style.display = "none";
        document.getElementById("evedt").style.display = "none";
        document.getElementById("evdlt").style.display = "none";
      }
      </script>
  </body>
</html>