<html>
<center>
<nav class="navbar navbar-expand-sm bg-" style="background-color:rgba(10, 39, 97, 0.83)" >  
      <a ALIGN="RIGHT" class="navbar-toggler" style="color:#f1f1f1;" font-size="30px"> <img style="position: relative; top:4px;" src="https://www.img.in.th/images/9d4acbd200b1f8c31a8840d28462942c.png" width="109px" height="25px" class="d-inline-block align-top">&nbsp;&nbsp;พิพิธภัณฑ์วิทยาศาสตร์แห่งชาติ</a>
      
      
  </nav>
    <body></br></br></br>
        <p><h1 style="font-size: 58px;">ล็อกอิน</h1></p>
        <p style="font-size: 16px;">ลงชื่อเข้าชื่อเพื่อดำเนินการต่อ</p> <br>
            <h2 class="word">
              <style>
                .btn {
                  padding: 10px 40px;
                  background-color: rgba(10, 39, 97, 0.83); 
                  color: #FFFFFF;
                  font-weight: bold;
                  font-size: 18px;
                  }
              </style>
                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                  
                    <input id="user_name" name="user_name" type="text" placeholder="Username" class="te"/></br></br>
                    
                    <input id="user_password" name="user_password" type="password" placeholder="Password" class="textbox"/></br></br></br>
                    <input type="submit" class="btn" value="ล็อกอิน"></br></br>
                </form>
            </h2>
          
          </div>
        </div>
    </body>
  </center>
</html>
  