<doctype html>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  {% extends 'layout.html' %}
	  {% block body %}
	  <div class="container mt-3">
		<div id="child1">
		  <a>ค้นหาโครงการ</a>
		  <form action="/">
			  <input type="text" placeholder="Search.." name="search">
			  <button type="submit" class="btn btn-primary">Search</button>
		  </form>
		  <div class="jumbotron">
			<div class="container mt-3">
			  <div class="table-responsive">
				<table class="table table-bordered">
				  <thead class="table-primary">
					<tr>
					  <th>ชื่อโครงการ</th>
					  <th>เลขสารบัญ</th>
					  <th>รายละเอียด</th>
					  <th>ผู้รับผิดชอบ</th>
					  <th>ตำแหน่งที่เกี่ยวข้อง</th>
					  <th>กิจกรรม</th>
					  <th>สถาณะโครงการ</th>
					</tr>
				  </thead>
				  <tbody>
					{% for result in row %}
					<tr>
					  <td><a href = "/project/{{result['pj_id']}}">{{result['pj_name']}}</a></td>
					  <td> {{result['pj_refNumber']}}</td>
					  <td>{{result['pj_detail']}}</td>
					  <td>{{result['user_name']}}</td>
					  <td>{{result['pj_refNumber']}}</td>
					  <td>{{result['pj_refNumber']}}</td>
					  <td>{{result['pj_refNumber']}}</td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		
		<center>
		<a class="btn btn-primary btn-lg" href="addproject" role="button">เพิ่มโครงการใหม่</a>
	  </center>
	  </center>
	  {% endblock %}