<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
		<div class="card">
			<br>
            <div class="col-75"><h1>ประกาศจากกองพัสดุ</h1></div>
			<hr>
			{% for result in pac %}
                <div  class="card">
                    <div class="row">
                        <div class="col-50">
                            <h6>รายละเอียดประกาศ :</h6>
                            <h6>{{result['pac_detail']}}</h6>
                        </div>
                        <div class="col-25">
                            <h6>วันที่ประกาศ :</h6>
                            <h6>{{result['pacdate']}}</h6>
                        </div>
                    </div>
                </div>
			{% endfor %}
		</div>
    {% endblock %}