<doctype html>
    {% extends 'layout.html' %}
    {% block body %}
    <body>
        <br>
		<div class="card">
            <div class="card-header">
                <h1>ประกาศจากกองพัสดุ</h1>
            </div>
            <div  class="card-body">
			{% for result in pac %}
                    <div class="row">
                        <div class="col-50">
                            <h6>รายละเอียดประกาศ :</h6>
                            <h6>{{result['pac_detail']}}</h6>
                        </div>
                        <div class="col-25">
                            <h6>วันที่ประกาศ :</h6>
                            <h6>{{result['pacdate']}}</h6>
                        </div>
                    </div>
			{% endfor %}
            </div>
		</div>
    </body>
    {% endblock %}