<p>รายชื่อคณะกรรมการ</p>
<p>
   1. ชื่อ: <input name="" value="" type="text" style="width:224px; " placeholder="ชื่อ" autocomplete="off" required> 
   นามสกุล: <input name="" value="" type="text" style="width:224px; " placeholder="นามสกุล" autocomplete="off" required> &nbsp; &nbsp;
   ตำแหน่ง: <select name="month" size="1">
      <option value="1">ประธาน<br>
      <option value="2">เลขาธิการ<br>
      <option value="3">กรรมการ<br>
      </select>
</p>
<p>
   2. ชื่อ: <input name="" value="" type="text" style="width:224px; " placeholder="ชื่อ" autocomplete="off" required> 
   นามสกุล: <input name="" value="" type="text" style="width:224px; " placeholder="นามสกุล" autocomplete="off" required> &nbsp; &nbsp;
   ตำแหน่ง: <select name="month" size="1">
      <option value="1">ประธาน<br>
      <option value="2">เลขาธิการ<br>
      <option value="3">กรรมการ<br>
      </select>
</p>
<p>
   3. ชื่อ: <input name="" value="" type="text" style="width:224px; " placeholder="ชื่อ" autocomplete="off" required> 
   นามสกุล: <input name="" value="" type="text" style="width:224px; " placeholder="นามสกุล" autocomplete="off" required> &nbsp; &nbsp;
   ตำแหน่ง: <select name="" size="1">
      <option value="1">ประธาน<br>
      <option value="2">เลขาธิการ<br>
      <option value="3">กรรมการ<br>
      </select>
</p>

</dl>